[2016-12-24 16:01] jviotti commented on #985
Can you show us the exact diskutil error you see?

I guess this could indicate some issues when unmounting the drive. What happens if you manually unmount using `diskutil unmountDisk /dev/diskN`? Does it hang as well?

Regarding recovering your drive, you should be able to reformat using the Disk Utility.app.

Let us know how that goes! Merry Christmas!

[2016-12-24 16:03] jviotti commented on #985
If manually unmounting works fine, I'll create a custom build with extra debugging information.

[2016-12-25 08:25] alexandrosm opened #987 "Make website visits coming from the update prompt on etcher identifiable"
This should be simple to do but v. valuable. We should make the link to the etcher.io website coming from the "update" link be identifiable, perhaps by attaching a `?ref=etcher_update` querystring. That will allow us to separate that traffic in the analytics, and perhaps even offer a slightly different landing page.

[2016-12-25 16:35] paulallen8691 commented on #986
G:\Engineering Reference\Raspberry pi\Raspian images\2016-11-25-raspbian-jessie.img

[2016-12-26 13:09] SaifAM opened #988 "16GB flash drive turned into 64mb RAW after buring"
Etcher version: 1.0.0-beta.17
Windows 10 Pro
no error came up while burning the drive

[2016-12-26 14:55] lurch commented on #988
That's expected (i.e. not an error), and depends entirely on which disk-image you're writing - disk-images often contain secondary partitions which Windows isn't able to read.

If you want to revert your flash drive "back to normal" see https://github.com/resin-io/etcher/blob/master/docs/USER-DOCUMENTATION.md#recovering-broken-drives

[2016-12-26 15:03] lurch commented on #986
Hmmm, I wonder if this might be another problem with filenames being passed to commands unquoted, which might lead to errors when filenames / paths contain spaces.

@paulallen8691 As a test, could you try copying the image you're trying to flash to just `G:\` and see if you get the same error?

[2016-12-26 15:21] SaifAM commented on #988
Thank you for the response. Some how I was able to bring my flash drive back to normal, but thank you for the information

[2016-12-26 15:22] #988 closed

[2016-12-26 15:28] lurch commented on #987
I guess we could also do something similar for the Etcher logo displayed at the bottom of the main program window, e.g. have it link to `https://etcher.io/?ref=etcher`.
And would we then want to use a link like `https://etcher.io/?ref=github` for links in the README and documentation?

[2016-12-26 16:52] jviotti commented on #987
Sounds good, and its a really easy improvement. I assigned @Shou to it.

[2016-12-26 16:53] alexandrosm commented on #987
Check the source code :) but the github one, yes!

On Dec 26, 2016 4:28 PM, "Andrew Scheller" <notifications@github.com> wrote:

[2016-12-26 16:55] jviotti commented on #718
I like @dlech 's schema and I think it fits our model very well, however we need to think how to present custom operators such as `eval` and `regex`. We can keep it they way it is, or make use of something like https://github.com/jviotti/queryl.

[2016-12-26 16:56] jviotti commented on #987
What do you mean? Editing https://github.com/resin-io/etcher/blob/master/lib/gui/components/update-notifier/templates/update-notifier-modal.tpl.html#L15 should do it.

[2016-12-26 16:57] jviotti commented on #986
@lurch

Yeah, I was thinking about just that.

@paulallen8691

You can also open DevTools by pressing `Ctrl+Alt+I`. If you do so and click the "Console" tab, Etcher will print the command it will execute as a child process right after you click flash. Do you mind copying that here?

[2016-12-26 17:01] jviotti commented on #718
It worth stating again that the visuals stage is completely decoupled from Reconfix, so we can put something up and keep iterating without any constraints, which is a great position to be in.

[2016-12-27 15:56] MrDiamond123 commented on #179
I have a idea for .etch files, maybe have them store metadata to download a iso for linux distros on the fly and have a title, author (of iso/linux distro), and a short summary about the iso (or linux distro).

[2016-12-28 04:12] Lefel95 opened #989 "operation timed out after X ms, 5 tries with error: Command failed: diskpart /s "C\Users\<username>\AppData\Local\Temp\_diskpart\-xxxxxxxxxxxxx""
- **Etcher version: 1.0.0-beta.17**
- **Operating system and architecture: Windows 10 64bits**
- **Do you see any meaningful error information on DevTools? yes**

I used Etcher to burn a Linux OS in a flash drive and it worked, but when I tried to burn a Linux Mint in the flash Drive it says its corrupted.

Here are the Images that shows the errors:
![captura de tela 2016-12-28 01 59 46](https://c

[2016-12-29 04:34] jviotti commented on #989
Hi @Lefel95 ,

Thanks for reporting! Can you show us where Etcher says your drive is corrupted? Regarding the error that you show there, it seems that for some reason `diskpart` was unable to clean your drive.

Is this something you can actively reproduce only with a certain image? If so, can you link us directly to the image so we can try it ourselves?

If you can actively reproduce, can you try

[2016-12-29 11:20] konmouz commented on #54
Following #975 concept, would it be possible to have a widget on publisher's webpage that will preload Etcher with a specific image? For instance, on Raspberry Pi's Rasbian page, there could be 3 CTA's: `Download Torrent` `Download Zip` `Flash with Etcher` or `Load to Etcher`.

<img width="910" alt="screen shot 2016-12-29 at 11 16 55" src="https://cloud.githubusercontent.com/assets/15323961/215427

[2016-12-29 11:55] alexandrosm commented on #54
i guess a widget with a dual call to action -> "download including Etcher"
and "open with etcher" (better names needed) would be the ultimate nirvana
for several of our publisher integration efforts. I think there are several
background pieces needed to be aligned, as there are binary signing issues
to sort out, but I love the idea and want to figure out what's needed to
get there.

--

*Alexandro

[2016-12-29 11:58] konmouz commented on #54
Exactly, pretty much the same way torrents and magnets work.

[2016-12-29 22:13] paulallen8691 commented on #986
Sorry for not getting back sooner - family commitments.

I tried this with the same results.

DevTools is still eluding me - I tried Ctrl+Alt+I to no avail.
Is_ there a package/app that should/could be installed?

I'm trying all this on an ASUS X550E  laptop.

Thanks for your help to date.

[2016-12-30 04:09] jviotti commented on #986
Is_ there a package/app that should/could be installed?

Hm, that's weird. Just in case, notice its "I" from "India." Are you trying to open DevTools after the error? It might be that Etcher gets so terribly broken that the bindings from the main process don't work anymore (although that shouldn't happen), so you could try opening it as soon as the application starts.

[This is how the binding is

[2016-12-30 04:39] jviotti opened #993 "Add an information tooltip for the CRC32 checksum"
From http://www.linuxlinks.com/article/20161223100458799/Etcher.html

Maybe we can add an "i" tooltip explaining how to manually calculate the CRC32 checksum of the image and validate it yourself.

[2016-12-30 04:40] jviotti commented on #993
Pinging @alexandrosm , @lurch , @Shou , and @konmouz for input on what/how to explain.

[2016-12-30 04:43] #987 closed

[2016-12-30 09:27] konmouz commented on #993
Or you could click the 'CRC32 CHECKSUM' itself to get more info (the way you click 'others' under 'select image'). @jviotti can you estimate the size of this explanation? Can we fit it in a tooltip or we need more space? Is it possible to have a tooltip for a basic description and a link to redirect to an online resource?

[2016-12-30 10:58] lurch commented on #993
This is obviously also related to #643
Given that the usage of MD5 for checksums is _much_ more common than CRC32, maybe if we switched from CRC32 to MD5 (TBH I've got no idea why CRC32 was chosen originally?), then maybe it'd be more obvious and not actually need any explanation?

[2016-12-30 11:08] lurch commented on #987
@alexandrosm

Does that mean that you **do** still want the links from github.com to etcher.io to have referrer query-URLs? And if so, should this issue be re-opened?

[2016-12-30 14:46] paulallen8691 commented on #986
A couple of comments:

Yep that looks like the case... If I let the error pop up before starting DevTools it (DevTools)will not open.. A reboot is required before it will open.
Opening Dev tools prior to the error allows it to run.
The console needs to be open and active prior to the error otherwise DevTools shows just a white window.

Now I have some valid debug info...
I initially noticed a lot

[2016-12-30 19:04] jviotti commented on #986
Hi @paulallen8691 ,

That should be fine. Notice that you can disable error reporting and analytics from the settings page to prevent any communication to the hosts you're blocking anyway.

So the error seems to be caused by an unhandled error on the IPC routines. I'll be focusing on this very soon, and will probably ping you to give my fix a go with a custom build :) Thanks a lot for the help so

[2016-12-30 19:08] jviotti commented on #993
It depends on how we want to do it. We can either:

- Show a very small tooltip that describes what this is for in a few words (a short sentence)
- Show a modal with an extended explanation (I estimate about 2 or 3 sentences at most)
- Redirect to an article online (could be part of the user documentation)

I wonder if we should redirect somewhere else though... I have the feeling that any informa

[2016-12-30 19:13] alexandrosm commented on #993
Or maybe this is another case where we need the pattern of "short
explanation + learn more link"

On Dec 30, 2016 9:08 PM, "Juan Cruz Viotti" <notifications@github.com>
wrote:

[2016-12-30 19:41] paulallen8691 commented on #986
Found it

It's my pleasure to help debug this issue.

As another test I purchased an external card reader (rather than relying on the internal reader): Insignia NS-CR25A2 with the same error occuring.

[2016-12-30 19:53] konmouz commented on #993
Yes, I think the best way is to 'show a very small tooltip that describes what this is for in a few words (a short sentence)' + 'learn more'

[2016-12-31 20:27] jviotti commented on #986
@paulallen8691 Can you check if you can reproduce the issue by using the standalone Windows version (that doesn't require installation)? Here's the 64-bit one: https://resin-production-downloads.s3.amazonaws.com/etcher/1.0.0-beta.17/Etcher-1.0.0-beta.17-win32-x64.zip

[2016-12-31 23:38] paulallen8691 commented on #986
Same:

Sat Dec 31 2016 18:36:50 GMT-0500 (Eastern Standard Time) Flash ({"image":"G:\\2016-11-25-raspbian-jessie.img","device":"\\\\.\\PHYSICALDRIVE1"})
tracker.js:10 WRITER: Attempting to elevate

tracker.js:10 WRITER: Running: set ELECTRON_RUN_AS_NODE=1 && set IPC_SERVER_ID=etcher-server-12692 && set IPC_CLIENT_ID=etcher-client-12692 && call D:\Etcher\Etcher.exe D:\Etcher\resources\app.asar\lib\

[2017-01-02 11:07] Facel3ss1 commented on #985
Hello again, sorry for the long reply (with Christmas & New Year etc). @alexandrosm I have tried using a different SD card and it flashed successfully 😄 !! The SD card in question was a Maplin 8GB micro SD card (I am using the same adapter as before)

[2017-01-02 11:07] Facel3ss1 commented on #985
ygu

[2017-01-02 11:08] Facel3ss1 commented on #985
Sorry about the close and reopen, my computer spazzed :/

[2017-01-02 11:28] Facel3ss1 commented on #985
@jviotti I have tried with the original SD card and it's working again as before 😕 . I know this doesn't help in terms of reproducability. One difference I noted was that the disk it was using was different. Before when it wasn't working is ws showing /dev/disk4 (You can see this in the screenshot above). Now, it is showing my SD card as /dev/disk1. And the diskutil 'error from before wasn't an er

[2017-01-03 15:38] jviotti commented on #985
Ugh, it sucks to not be able to reliably reproduce. I guess this could have happen if there was a file descriptor opened to the drive which diskutil was unable to close even with the force option we pass.

Do you remember if any application was using the drive in question while you were trying to flash to it?

[2017-01-03 15:46] Facel3ss1 commented on #985
@jviotti I don't think so. I cannot remember using another program apart from Etcher... If I was using another program (which is unlikely), it would be Finder. If you have any other queries, I would be happy to respond. Also, if this behaviour occurs again, then I can record that here if you want me to.

[2017-01-03 20:21] TimHop opened #994 "SD Card Capacity incorrectly Reported"
- **Etcher version:**
- **Operating system and architecture:**
- **Do you see any meaningful error information on DevTools?**

[2017-01-03 20:21] TimHop opened #995 "SD Card Capacity incorrectly Reported"
- **Etcher version:**
- **Operating system and architecture:**
- **Do you see any meaningful error information on DevTools?**

[2017-01-03 20:24] TimHop commented on #995
Etcher-1.0.0-beta.17-win32-x64
Windows 10

A 16GB SD Card (14.9 formatted) reports as only 5.9GB
Therefore image can not be burned

[2017-01-03 21:52] yldbouk opened #996 "No Partitions Found After Successful Flash"
- **Etcher version:** 1.0.0-beta.17
- **Operating system and architecture:** `MacOS Sierra 10.12.2 (16C67)` on a `MacBook Air (13-inch, Early 2015) | Processor: 1,6 GHz Intel Core i5 | Memory: 4 GB 1600 MHz DDR3`
- **Do you see any meaningful error information on DevTools?** Nope

So, when I try to flash an iso to an External Hard Drive, everything goes normal, it works like nothing bad happened.

[2017-01-04 04:18] jviotti commented on #996
What image did you flash? It might be that OS X can't detect the partitions of such image, which usually happens with Linux images (OS X can't read them).

[2017-01-04 04:20] jviotti commented on #995
Hi @TimHop,

How does Windows report it when you open My PC? Any reason why you decided to close this ticket?

[2017-01-04 04:24] jviotti commented on #985
The `diskutil` command we run is:

[code]

where `N` corresponds to the disk number.

How long did you wait for `diskutil` before killing the command? It might be worth to try manually running that command and see if you can manage to reproduce that way.

[2017-01-04 08:06] yldbouk commented on #996
I flashed multiple images. I checked their health and it was fine. I could open them, and I had read/write perms

[2017-01-04 16:26] jviotti commented on #996
Hm, can you directly link me to an image you've flashes so I can try to reproduce here?

[2017-01-04 20:20] TimHop commented on #995
Hi Juan,

I closed the call by mistake!

Windows reports SD card size correctly at Circa 14.9gb

On first use Etcher reported the correct size.  A Raspberry PI image was used to test.

Test was successful.

Card was re-formatted and the issue reported arose.

Formatting using SDFormatter Quick & Full and Windows also Quick and Full.

The SD card was imaged using another app with a 14gb .img file s

[2017-01-04 20:54] jviotti commented on #898
I sent a fix here: https://github.com/resin-io/etcher/pull/997. See the commit body for an explanation of the underlying issue.

@lurch Do you think it makes any difference to emit different messages for each line encountered here instead of just emitting the last one?

If the machine is having issues processing IPC messages at a fast rate, emitting every message might cause the machine to keep mi

[2017-01-04 21:51] jviotti commented on #981
@lurch Any updates on the SDCards? Have they been sent?

I've just merged https://github.com/resin-io-modules/etcher-image-write/pull/73, which (I highly believe) fixes EIO errors during writing, and will be working on the same fix for during validation.

[2017-01-04 21:56] jviotti commented on #834
I believe this issue has been fixed with https://github.com/resin-io-modules/etcher-image-write/pull/73

[2017-01-05 00:57] tooomm commented on #984
This can be closed I guess...

[2017-01-05 00:57] #984 closed

[2017-01-05 15:15] jviotti commented on #984
Ah, good catch. Turns out the commit referenced this issue with "See" instead of "Closes"/"Fixes".

[2017-01-05 15:18] jviotti commented on #995
That is indeed very odd. Can you try running the following batch script (https://github.com/resin-io-modules/drivelist/blob/master/scripts/win32.bat) before and after re-formatting such drive, and report back the results?

I'll try to reproduce this from my side as well in the mid time. Did you re-format is using Windows tooling or did you use something else?

[2017-01-05 15:19] jviotti commented on #995
For reference, we get the drive size from the [`Win32_DiskDrive`](https://msdn.microsoft.com/en-us/library/aa394132(v=vs.85).aspx) class, which is supposed to be *the* source of truth.

[2017-01-05 15:37] jviotti commented on #981
I was able to reproduce this exact same error on one of the Appveyor builds: https://ci.appveyor.com/project/resin-io/etcher-image-write/build/1.0.159. Let's hope I can actively reproduce, and if so, I should be able to fix the issue.

[2017-01-05 15:39] jviotti commented on #981
Ah, not the exact same one sadly. This one says "Error: EBADF: bad file descriptor, read" instead of EIO...

[2017-01-05 15:56] jviotti commented on #981
Turns out I can locally reproduce the EBADF error with the correct NodeJS/npm versions. The good news is that this new error comes from the same "unhandled error" location, so if I find a way to handle it, we should get better information about the error from this issue.

[2017-01-05 16:04] jviotti commented on #981
The new error also happens during the validation phase, so we're definitely dealing with the same unhandled scenario.

[2017-01-05 16:31] jviotti commented on #898
Okay, I ended up only emitting the last one, since missing progress state events doesn't have any negative effect, and there is no advantage on processing multiple progress state objects coming at almost the same time.

[2017-01-05 17:58] jviotti commented on #981
I've found the place where an error event is not being handler: a silly subtle logical error: https://github.com/resin-io-modules/etcher-image-write/pull/75 :)

Now let's try to fix to real issues behind it.

[2017-01-05 17:59] jviotti commented on #981
Damn, closed accidentally. Re-opeining...

[2017-01-05 17:59] #898 closed

[2017-01-05 22:59] jviotti commented on #981
I sent a PR which I believe fixes this issue: https://github.com/resin-io/etcher/issues/1000.

I'll send a custom build with the patch applied so we can test in the mid time soon.

[2017-01-05 23:45] jviotti commented on #981
Here's the build: https://drive.google.com/file/d/0B7tkbonGU-RyR1pRdVB6bUUzWlU/view?usp=sharing

Let me know if this fixes the issue for you! Thanks a lot!

[2017-01-06 15:12] jviotti commented on #888
We should also allow users to bypass any size checks and only flash the amount of data that fits the drive, like `dd` does, which is particularly useful for re flashing backed up images that contain a lot of unnecessary right padding.

Maybe an "ignore, proceed anyway" message somewhere?

[2017-01-06 15:31] #981 closed

[2017-01-07 19:52] TeacherMac opened #1003 "Trojan file: Etcher-1.0.0-beta.17-win32-x64.exe"
Windows 7 64bit
360 Total Security

![image](https://cloud.githubusercontent.com/assets/3316801/21744692/b86a4efc-d4cf-11e6-8978-8a5ad4d496a8.png)

[2017-01-08 00:37] rakeshdas1 opened #1004 "Microsoft VBScript Runtime error on Windows"
- **Etcher v1.0.0-beta.17**
- **Windows 10 x64**

I am receiving a Microsoft VBScript error when I installed this and ran it on Windows 10, this is the first time that I have encountered this issue. Screenshot of the full error:
![image](https://cloud.githubusercontent.com/assets/6901641/21746381/44ab67a6-d508-11e6-82d7-d25bb1cf725f.png)

[2017-01-08 12:40] gimerstedt opened #1005 "Dependencies (Fedora 25)"
- **Etcher version:**
[ake1@localhost Downloads]$ ls -l | grep Etcher-
-rw-rw-r--. 1 ake1 ake1   71186664 Jan  8 13:25 Etcher-1.0.0-beta.17-linux-x64.zip
-rwxr-xr-x. 1 ake1 ake1   71565312 Nov 28 11:33 Etcher-linux-x64.AppImage

- **Operating system and architecture:**
[ake1@localhost Downloads]$ uname -a
Linux localhost.localdomain 4.8.15-300.fc25.x86_64 #1 SMP Thu Dec 15 23:10:23 UTC 2016 x86_64

[2017-01-08 13:52] flobbb opened #1006 "Error: Command Failed, right after clicking "Flash""
- **Etcher version:**
1.0.0 - beta.17

- **Operating system and architecture:**
windows 7 64 bt

- **Do you see any meaningful error information on DevTools?**

Get Error:Command Failed
Only occurs if more than one usb key attached,
usb keys are same size and have no label,
drive letters assigned when error occured E: and F:

re-run witn only one key, no problems

[2017-01-09 15:18] jviotti commented on #1003
I thought these alerts were long gone... The issue is that malware detection systems rely on how trusty a code signing certificate is to prevent these warnings. When we first released Etcher, every single malware detection software detected Etcher as malware, which went down over time as more and more users installed and trusted our certificate.

In the case of 360 Total Security, we might need to

[2017-01-09 15:21] jviotti commented on #1003
Sent! I'll update/close this issue once we get a response.

[2017-01-09 15:26] jviotti commented on #1005
Hi @gimerstedt,

Thanks for reaching out! Sadly, `xscrnsaver` is a dependency of Electron (see https://github.com/electron/brightray/blob/master/brightray.gyp#L4), so not much we can do from our side apart from listing it in our documentation (which we do, see: https://github.com/resin-io/etcher/blob/master/docs/USER-DOCUMENTATION.md#runtime-gnulinux-dependencies).

Another solution would be to cr

[2017-01-09 15:26] #1005 closed

[2017-01-09 15:28] jviotti commented on #1004
Interesting, thanks for reporting! It seems we have an issue in our VBScript drive detection script: https://github.com/resin-io-modules/drivelist/blob/master/scripts/win32.bat.

I'll look at it today and see if I can find the issue. Its unlikely that I'll be able to reproduce, so I might bother you to confirm my fix :)

BTW, can you actively reproduce? You can try running the script above directl

[2017-01-09 15:34] rakeshdas1 commented on #1004
Just to confirm, do you want me to see if I could reproduce the bug by running the `bat` script or the js script?

[2017-01-09 15:34] rakeshdas1 commented on #1004
Just to confirm, do you want me to see if I could reproduce the bug by running the `bat` script or the js script?

[2017-01-09 15:36] jviotti commented on #1004
Hi @rakeshdas1 ,

Yeah, if you could do that, it would be awesome! :)

[2017-01-09 15:37] jviotti commented on #1006
This is a great find. I'll try to reproduce on Windows 10 (hopefully the error happens there as well), otherwise I'll try to get access to a Windows 7 PC.

[2017-01-09 15:48] rakeshdas1 commented on #1004
Same error, same line!
![image](https://cloud.githubusercontent.com/assets/6901641/21772405/bd0eb614-d650-11e6-8df0-4dbebc84238a.png)

[2017-01-09 16:17] rakeshdas1 commented on #1004
Also, just opened up said batch file, and [these](https://gist.github.com/rakeshdas1/d3ac46345832988150c126b36cd5bda2) are the contents.

[2017-01-09 16:36] jviotti commented on #1004
So the issue happens on the `Add()` method of our custom `List` class:

[code]

This class is used in several places, and Windows doesn't seem to give us a precise stack trace.

Can you try running the following (slightly modified) script? I've added some debugging information which should hopefully help us trace down the issue:

[code]

[2017-01-09 17:03] jviotti commented on #1006
Hm, I've plugged in two drives that are the same brand, and same size, but wasn't able to reproduce. I guess this might be a Windows 7 specific issue. I'll try to test in that system soon.

[2017-01-09 17:44] TeacherMac commented on #1003
Glad to help. Thanks for the update.

Greg Trobaugh
310.734.8336

On Jan 9, 2017 7:21 AM, "Juan Cruz Viotti" <notifications@github.com> wrote:

[2017-01-09 17:54] flobbb commented on #1006
Don't forget there were no volume labels on either ky  as well. Not sure if that contributes to how they are identified.

[2017-01-09 20:03] tyx opened #1007 "Make my disk unreadable"
- **Etcher version:** beta17
- **Operating system and architecture:** OSX 10.10
- **Do you see any meaningful error information on DevTools?** Nop, etcher said "it's done !"

Hello guys,

Thanks for this nice tools ! I just got a strange error after etcher completed the flash:
<img width="568" alt="capture d ecran 2017-01-09 a 20 58 37" src="https://cloud.githubusercontent.com/assets/245494/217812

[2017-01-09 20:32] jviotti commented on #986
I've been investigating this issue without much success. The help menu from the CLI will be shown in the following scenarios:

- No image has been passed (in this case a "Missing image" error gets printed at the bottom, which is not the case here)
- The image doesn't exist (prints a "No such file or directory at the bottom")
- The drive is missing but robot is set (in this case it prints a "Missin

[2017-01-09 21:35] jviotti commented on #986
Okay, I found the reason of the help message: if something fails when parsing the arguments, we print help, *and then* we print the actual message that described the error, however since they are printed in two separate `console.error` calls, they arrive to the GUI via IPC in order, so we first try to parse the first print (which is only the help), which fails, so we abort everything and never con

[2017-01-09 21:36] jviotti commented on #986
I'm going to do some cross-platform testing to ensure everything works property (since I'm messing with platform dependent new line separators in weird ways), and I'll publish a custom build so we can finally see the root cause of this issue.

[2017-01-10 00:08] Page- commented on #1007
Hey @tyx, what image were you flashing? My best guess is that it was a linux image of some sort which contains a filesystem OSX isn't able to read, so it treats it as an uninitialised/corrupt drive when in reality it's fine

[2017-01-10 00:59] rakeshdas1 commented on #1004
@jviotti This was the output:

[code]

[2017-01-10 06:11] tyx commented on #1007
Hello @Page-

Yep you're right, I try to flash `ubuntu-16.04.1-desktop-amd64`. I guess I should give another try to boot on it ?

[2017-01-10 08:48] tyx commented on #1007
Ok, my apologies. I was thinking I had to press `options` key to boot on usb, it was `alt`.

Sorry, and thanks again for this app ;)

[2017-01-10 08:48] #1007 closed

[2017-01-10 15:55] jviotti commented on #1004
Thanks a lot for the help so far @rakeshdas1. That sadly still doesn't say much :/

Can you try the following new edits?

[code]

[2017-01-10 23:09] rakeshdas1 commented on #1004
This is the output:
[code]

[2017-01-11 01:22] jviotti commented on #986
Here's the custom build: https://drive.google.com/open?id=0B7tkbonGU-RyZ3h5UjB2NTc1dlE

Please run it and let us know the error message you get! Luckily this should provide all the information we need to actually fix the bug!

[2017-01-11 09:14] Page- commented on #1007
No problem :)

[2017-01-11 14:37] TimHop commented on #995
Hi Juan,

Sorry for the delay, we are busy developing a new product for the Raspberry PI J

I have now seen this on more than one SD Card!

Cards have been formatted with both Windows generic tooling and SDFormatter both Quick and Full with the same results.

It appears that once a card has been imaged for the Raspberry PI then formatted to receive a new image this issue occurs?

SDFormatter after

[2017-01-11 15:06] jviotti commented on #1004
Thanks a lot again! So it seems that for some reason, a device has a duplicate mount point coming from `Win32_DiskPartition` or `Win32_LogicalDiskToPartition`. Can you relate to this? Have you noticed your PC reporting duplicated drive letters for certain drives?

Here is a new modified script (hopefully the final one). I added extra debugging information to see what is the duplicated letter, and

[2017-01-11 15:10] jviotti commented on #995
Hi @TimHop ,

It looks like GitHub didn't show any attachments you added on the email, so I can't see the Windows properties, not SDFormatter output :/

Can you try running the following batch script (https://github.com/resin-io-modules/drivelist/blob/master/scripts/win32.bat) on the computer while the drives are connected and report back what you get?

The above script is what we run to detect th

[2017-01-11 20:00] jviotti commented on #1006
I double-checked without the volume labels, but still couldn't reproduce. I'm still trying to get access to a Windows 7 box. I'll hopefully send an update about this soon.

[2017-01-12 04:51] rakeshdas1 commented on #1004
@jviotti, I did recently change drive letters for two of my drives, I think some symlinks were still left in place and that was causing the issue! Maybe the older drive letters were still left in a cache and still thought they led to a drive when they didn't. Anyways, the script did succeed this time and this was the output in case you are curious:

[code]

[2017-01-12 04:51] #1004 closed

[2017-01-12 11:49] UselessPoint opened #1019 "Issue while Flashing Zorin OS on a 4gb USB Drive"
- **Etcher version:1.0.0.beta17**
- **Operating system and architecture: Windows 7 64bit**
- **Do you see any meaningful error information on DevTools?**

[code]

[code]

These error happened while trying to flash Zorin OS Core 12 in a 4gb simple USB drive Formatted on FAT32.
I even tried after formatting the device in different methods, but the results were the same.

[2017-01-12 15:10] jviotti commented on #994
Hm, this seems to be an exact duplicate of https://github.com/resin-io/etcher/issues/995. I'll close it!

[2017-01-12 15:10] #994 closed

[2017-01-12 15:13] jviotti commented on #1004
Amazing, looks like `S:` was the duplicated one:

[code]

Thanks a lot for your continuous help in debugging and getting this issue fixed, its truly appreciated! I'm going to send a PR to fix this issue very soon.

[2017-01-12 17:29] jviotti commented on #1019
Hey there!

Thanks for reporting. The issue seems to happen when trying to eject the drive. I believe the drive should be flashed completely, and you can prevent the error from happening on the first place by unticking "Eject after success" on the settings page (the top right cog icon).

As a way to get to the bottom of it, you can download the `RemoveDrive` tool (which we use internally for eject

[2017-01-13 11:07] codeinabox opened #1024 "Still presented with "Connect a drive" after recovering broken drive"
- **Etcher version:**
v1.0.0-beta.17
- **Operating system and architecture:**
OS X Safari 10.12.2
- **Do you see any meaningful error information on DevTools?**
![screen shot 2017-01-13 at 11 04 09](https://cloud.githubusercontent.com/assets/2069958/21927954/10415396-d980-11e6-8103-c75dfcc1ac30.png)

I followed all the instructions to recover my broken drive (see below) but still get presented wit

[2017-01-13 11:12] lurch commented on #898
Is it "guaranteed" that e.g. we won't get a progress message after an error message?

With
[code]
then it's obviously fine to only send the last `progress Y` message, but with
[code]
then we wouldn't want to miss the error message by only sending the progress message?

[2017-01-13 12:57] RobertLutken opened #1025 "Error: 'MySQL' is not recognised as an internal or external command"
![mysqlerror_etcher](https://cloud.githubusercontent.com/assets/5775654/21930725/5be4911e-d98f-11e6-9e72-f753ec2fa509.PNG)
- 1.0.0-beta 17
- Windows 10 Pro 64-bit

[2017-01-13 13:11] lurch commented on #1025
We've previously seen something very similar to this on Gitter https://gitter.im/resin-io/etcher?at=582a14e945c9e3eb4339d229
I didn't realise we didn't have a Github issue for it yet.

@jviotti Did we ever get any ideas what might be causing this?

@RobertLutken Would you be willing to help us debug this? Do you currently have MySQL installed on your PC, or have you had it installed previously?

[2017-01-13 13:15] lurch commented on #1024
Hopefully @jviotti will be able to help with this one (I don't have a Mac myself).

[2017-01-13 13:38] RobertLutken commented on #1025
@lurch I do indeed have MySQL installed, well MySQL workbench.
A little bit of digging seems to refer to "A key is a string specified in the Add method that uniquely identifies a specific member of a collection." [MSDN](https://msdn.microsoft.com/en-us/library/aa232626(v=vs.60).aspx)
I'll have a dig around and try setup some different environment variables.
Happy to help!

[2017-01-13 14:30] jviotti commented on #1025
Hey there @RobertLutken !

Thanks a lot for reporting! We've very recently fixed the `Microsoft VBScript runtime error: This key is already associated with an
element of this collection` error (see https://github.com/resin-io-modules/drivelist/pull/130).

Regarding the MySQL error, I think its simply output coming from your environment every time you type a command, and should be safely ignored by

[2017-01-13 14:35] jviotti commented on #1024
That is the strangest drive name I've ever seen :) No doubt `drivelist` parser is getting confused about it. It should be easy to fix though, let me try to reproduce here...

[2017-01-13 14:43] codeinabox commented on #1024
Ha I don't know how my drive ended up with that name but renaming it to something alphanumeric fixed the issue. Thank you for the quick response.

[2017-01-13 14:44] jviotti commented on #1024
Ah, turns out this was already fixed by https://github.com/resin-io-modules/drivelist/pull/127, which didn't make it to v1.0.0-beta.17. I plan to release a next version really soon (probably today, on Monday at worst) with the fix.

Renaming it to something else should get you up and running in the mid-time :D

[2017-01-13 14:44] #1024 closed

[2017-01-13 15:05] lurch commented on #1024
Hahaha, I didn't even notice the peculiar drive name, I just skimmed over that section. Doh! ;-)

[2017-01-13 15:12] lurch commented on #1004
Fantastic, great work @jviotti and @rakeshdas1 !

[2017-01-13 15:15] jviotti commented on #1004
I think I should change my LinkedIn title to "VBScript Developer" by now :P

[2017-01-13 15:18] lurch commented on #1004
Just as a reminder, I _did_ once suggest using a NodeJS WMI module rather than persevering with VBScript ;)

[2017-01-13 15:47] lurch commented on #995
Also, is this an internal SD card reader (e.g. in a laptop) or a USB SD card reader?
It would be interesting to hear if you can try using a different SD card reader, and if that gives you the same weird results?

[2017-01-13 18:38] TimHop commented on #995
Hi Andrew,

On a PC not Laptop.

Tried both built in and external.

Same result L

Tim
----------------------------------------------------------------

From: Andrew Scheller [mailto:notifications@github.com]
Sent: 13 January 2017 15:47
To: resin-io/etcher
Cc: TimHop; Mention
Subject: Re: [resin-io/etcher] SD Card Capacity incorrectly Reported (#995)

Also, is this an internal SD card reader (e.g.

[2017-01-13 20:31] jviotti commented on #898
Great observation! I'll send a PR fixing this in a minute.

[2017-01-16 03:07] alexandrosm commented on #987
actually, I think github has proper referrer, because we can see it in our
analytics. so no real problem there!

--

*Alexandros Marinos*

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Fri, Dec 30, 2016 at 11:08 AM, Andrew Scheller <notifications@github.com>
wrote:

[2017-01-16 16:46] lurch commented on #995
@TimHop Thanks for the info. Are you able to download and run the `win32.bat` that @jviotti linked to in an earlier message? (you'll need to run it in a Command-Prompt window in order to see the output)

[2017-01-16 18:25] jviotti opened #1027 "Replace TrackJS with Sentry"

[2017-01-16 18:35] jviotti opened #1028 "Blank application after killing the process with Ctrl-C"
- **Etcher version:** v1.0.0-beta.18
- **Operating system and architecture:** macOS Sierra

Run the application from the command line (e.g: `npm start`), and kill it with Ctrl-C:

<img width="1000" alt="screenshot 2017-01-16 14 35 26" src="https://cloud.githubusercontent.com/assets/2192773/21995019/0a58f788-dbf9-11e6-8279-20b9cec13974.png">

This seems to have been introduced by https://github.com

[2017-01-17 04:14] WasabiFan opened #1030 "Allow installation to non-default location"
- **Etcher version:** Beta 18
- **Operating system and architecture:** Windows 10

The Etcher installer should allow the user to choose where they want the app to be installed instead of always using the default location.

[2017-01-17 04:23] WasabiFan opened #1031 "Window fails to load and remains blank after upgrading Etcher"
- **Etcher version:** Beta 18 (upgraded from 17)
- **Operating system and architecture:** Windows 10 x64
- **Do you see any meaningful error information on DevTools?** See below.

After clicking the final button in the Etcher installer with the "run Etcher" box checked, the application opened without any content other than some upper-right buttons and the bottom text.

![image](https://cloud.githu

[2017-01-17 04:31] WasabiFan commented on #1031
I can confirm that this isn't localized to one PC; upgrading on another one exhibits the same behavior. Although it looks like you've probably already figured it out.

[2017-01-17 04:36] jviotti commented on #1031
This is really weird. I can reproduce the problem on Windows indeed, but not on OS X nor Windows. I took off the Windows builds from S3 for now. I'm investigating if why this dependency has not been included in the package.

[2017-01-17 04:41] WasabiFan commented on #1031
Are the zip builds functional? (I can't test because they've been removed from S3 😆)

[2017-01-17 04:44] jviotti commented on #1031
Hi @WasabiFan ,

Looks not. I took off the bad builds from S3 so users get pointed to v1.0.0-beta.17 while we fix the issue.

I'm tracking it down... Seems like an npm issue on my Windows build machine. I'll keep you updated on this ticket!

[2017-01-17 05:01] WasabiFan opened #1032 "Image name extends beyond tooltip when hovering over text"
- **Etcher version:** Beta 17
- **Operating system and architecture:** Windows 10 x64
- **Do you see any meaningful error information on DevTools?** N/A

When hovering over the name of an image that's long and does not have natural separators, the text extends beyond the tooltip box.

![image](https://cloud.githubusercontent.com/assets/3310349/22008220/093fd350-dc2e-11e6-9e60-64d21b7c6eba.png)

Th

[2017-01-17 05:17] jviotti commented on #1031
So the issue seems to be that npm insists on installing a platform specific development dependency for some reason, causing a certain package (`etcher-image-stream`) to be removed.

I've downgraded npm without luck, however discovered that the installation works fine if I call npm from MinGW instead of from `cmd.exe`, which makes no sense at all :/

I'll build from MinGW and release so we have eve

[2017-01-17 15:58] jviotti commented on #1032
Thanks a lot for reporting! The tooltip is still present on the latest version. We have some plans to provide a new UX for this, but we should definitely fix it in the mid time.

[2017-01-17 15:59] jviotti commented on #1031
I'm closing this issue. Seems like an npm Windows glitch. I've released MinGW builds that work fine (at least here), and will be putting extra effort to finally move releases to the CI servers for the next one.

[2017-01-17 15:59] #1031 closed

[2017-01-17 16:00] jviotti commented on #1030
This is a great suggestion. We're currently using a third party module that generates the installer for us, but we've been looking to move away from it, and this change can be done while doing so.

[2017-01-17 16:47] Horadrim commented on #996
I can confirm that the same thing happens, but under Linux (Ubuntu 14.04). No matter what image I try to write, ti just renders the usb stick unusable as no partitions are found afterwards. The last image I tried "burning" was lubuntu (lubuntu-15.10-desktop-i386.iso) downloaded directly from the Lubuntu website.

[2017-01-17 17:26] lurch commented on #996
This is weird. Does the image that you try flashing successfully validate okay after writing?
Can you give more details about the particular USB stick that you're using?

[2017-01-17 17:34] jspencer opened #1034 "Error parsing Info.plist at launch"
- **Etcher version: v1.0.0-beta.18**
- **Operating system and architecture: macOS 10.12.3 Beta (16D30a)**

The following error appears at launch:

[code]

I'd be happy to help debug the problem. I'm not sure if it's related to the beta OS I am running.

[2017-01-17 18:45] Shou commented on #1032
This should do it.

[2017-01-17 19:11] jviotti commented on #1034
Thanks a lot for reporting this! Can you try running the following bash script in your system and report back what you get? https://github.com/resin-io-modules/drivelist/blob/master/scripts/darwin.sh

[2017-01-17 19:13] #1032 closed

[2017-01-17 19:14] jviotti commented on #996
Hi @Horadrim ,

Can you compute a checksum out of your file and compare it to the one provided by Ubuntu, just to discard any incomplete image problems?

Can you show us what you see when inspecting the drive with say: `gparted`?

[2017-01-17 21:33] jspencer commented on #1034
Sure thing. Here's the output.

Silicates:~ jspencer$ ./darwin.sh
2017-01-17 13:31:17.517 diskutil[30629:5253210] There was an error parsing the Info.plist for the bundle at URL <0x7f89fdf04c10>: NSCocoaErrorDomain - 3840
device: /dev/disk0
description: "APPLE SSD SM1024L"
size: 1000555581440
mountpoints: []
raw: /dev/rdisk0
protected: False
system: True

2017-01-17 13:31:17.642 diskutil[30666:525

[2017-01-17 23:59] lurch commented on #1034
There's only a few google-results for this, which would seem to suggest it's a very rare problem https://www.google.co.uk/search?q=%22There+was+an+error+parsing+the+Info.plist+for+the+bundle+at+URL%22
And the results that I did read suggest it might be caused by corruption? It looks like your `diskutil` might be corrupted, so maybe you need to reinstall your beta OS? \*shrug\*

[2017-01-18 00:02] jspencer commented on #1034
That google result doesn't look related to me. I imagine there are many reasons for a plist to be mis-parsed.

[2017-01-18 00:04] jspencer commented on #1034
here's my diskutil plist if it helps. (I happen to have fewer disks mounted than in the above output)

Silicates:~ jspencer$ diskutil list -plist
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllDisks</key>
	<array>
		<string>disk0</string>
		<string>disk0s1</string>

[2017-01-18 00:15] jspencer commented on #1034
Oh I see what you are saying, the error is coming from the OS itself (well, diskutil). Maybe you can work around the problem? It seems like maybe the required details are still output? Or you could switch to the plist output of diskutil rather than the human readable output.

[code]

[code]

At least the error appears first when it outputs a plist, so it might be easier to skip.

In any event, I'l

[2017-01-18 00:27] lurch commented on #1034
Obviously it'd be better for this to be fixed "upstream" (i.e. by Apple) than Etcher adding workarounds for a beta release of an OS ;-)

[2017-01-18 00:30] jspencer commented on #1034
Yes, truly.
I've filed a bug for this rdar://30064041 I'll update this bug with details since the resolutions are not public.

Hopefully it's fixed before release, or it really is just corruption on my system alone.

[2017-01-18 00:32] lurch commented on #1034
Thankyou @jspencer

[2017-01-18 10:31] Horadrim commented on #996
@jviotti ,
I`ve downloaded a fresh copy of lubuntu 14.04 . These are the checksums:
https://i.gyazo.com/faf01a54c1035d441009b4dd5e8f06ff.png

This is what gparted shows after the "etching":
https://i.gyazo.com/a849784fd266b9fedec3bac4b2369b8d.jpg

[2017-01-18 14:59] jviotti commented on #1034
Thanks a lot for the investigations @jspencer. While this is definitely an OS bug, invalid YAML pairs (e.g: the output you see in the middle of `diskutil` output) should already be ignored by default (see https://github.com/resin-io-modules/drivelist/pull/99), so this issue shouldn't happen anyway.

[2017-01-18 15:01] jviotti commented on #996
Hi @Horadrim ,

Have you actually tried booting the images? I think we're seeing the effects of Ubuntu hybrid ISO's hacks: https://github.com/resin-io/etcher/blob/master/docs/USER-DOCUMENTATION.md#flashing-ubuntu-isos

[2017-01-18 15:05] lurch commented on #996
@Horadrim I believe this may be "expected behaviour"...
I just tried flashing the `lubuntu-15.10-desktop-i386.iso` onto a microSD card, and GParted looks like this:
![image](https://cloud.githubusercontent.com/assets/476186/22068864/4827934e-dd8e-11e6-9dd2-16879abed48c.png)

Meanwhile, the "Disks" program shows slightly more information:
![image](https://cloud.githubusercontent.com/assets/476186/2

[2017-01-18 15:12] lurch commented on #996
Now downloading a 'regular' Ubuntu ISO to see if that behaves the same or differently to Lubuntu...

[2017-01-18 15:29] Horadrim commented on #996
Unfortunately after "etching" the ISO, the USB doesn`t boot. I tried on several computers (I`m working in an office with about 20 computers). If I use another software like LiLi for example, it does boot. So I exclude the USB stick as a factor.

[2017-01-18 15:46] jviotti commented on #996
LiLi will mount the image, extract the files, partition the drive, and install GRUB on it, while Etcher does a byte-by-byte flashing (which includes the partition table described by the image).

In any case, our flash strategy should work fine here. I'll give this a go myself.

[2017-01-18 15:48] lurch commented on #996
That's because LiLi does 'more' than Etcher. Etcher (currently) just blindly copies the image to disk byte-by-byte (just like `dd`), without doing anything special.
See also #759 (and the links contained therein) and #553 and #413

[2017-01-18 17:55] lurch commented on #996
So, here's the results of my tests...

After downloading `ubuntu-16.04.1-desktop-amd64.iso` and writing it to the same microSD as before, this is what GParted looks like (after ignoring the error referred to [here](https://github.com/resin-io/etcher/blob/master/docs/USER-DOCUMENTATION.md#flashing-ubuntu-isos) ) :
![image](https://cloud.githubusercontent.com/assets/476186/22075847/87501b74-dda5-11e

[2017-01-19 20:59] jviotti opened #1035 "Warn against flashing Windows images"
A lot of users are constantly trying to flash Windows images, which will not work on Etcher given that Windows images require special treatment.

As a solution, let's develop a regex (or collection of regexes) based on all the Windows images file names [available from MSDN](https://msdn.microsoft.com/subscriptions/securedownloads/?#searchTerm=windows&ProductFamilyId=0&Languages=en&FileExtensions=.

[2017-01-19 21:22] jviotti commented on #996
I think the "Why is my drive not bootable?" covers the gist of this issue, but do you have any ideas to expand it/make it clearer?

[2017-01-19 21:22] #996 closed

[2017-01-19 22:46] WasabiFan commented on #996
No one will ever find that documentation :wink: #1035 is a great step in the right direction, but I honestly think that more needs to be done in-app if you expect users to understand Etcher's limits. Essentially, if it's not in the app itself and actively presented to the user, assume they won't find it.

[2017-01-19 23:07] hayekr1 opened #1036 "Allow copy on a previously image drive"
There should be a way to take a previously imaged drive and copy it to another drive

[2017-01-19 23:15] lurch commented on #996
@WasabiFan but as I pointed out earlier, sometimes regular ISOs written to USB Flash drives _are_ bootable, and sometimes only hybrid ISOs are bootable - it just depends on the BIOS.
Do you think we should modify Etcher to detect if the image being written is an ISO file, and if it is then further detect if it's a regular or hybrid ISO, and display corresponding warning messages as appropriate?

I

[2017-01-19 23:18] lurch commented on #1035
Is there a version of that page (or similar) that's viewable without needing a Microsoft login?

[2017-01-19 23:52] WasabiFan commented on #996
You could try to detect it; if it's reliable, that would be nice. It could potentially be something basic which relies on known file names.

Another thought: while the user is waiting for the flash to finish, they're sitting there with just a bar to stare at... what if you put "tips" somewhere in the UI that cycle through? That would give you an easy way of presenting small bits of information wit

[2017-01-20 01:23] lurch commented on #1036
Duplicate of #266 ?

[2017-01-20 01:23] lurch commented on #906
This should probably be closed in favour of #707 ?

[2017-01-20 05:48] SteveRMann opened #1037 "Suggestion- How about a backup from the device to the PC?"
I currently have to use a separate program to make a backup of my device.

[2017-01-20 06:32] UniK commented on #1037
@SteveRMann Describe your use case in detail, please.

[2017-01-20 11:00] lurch commented on #1037
Closing as duplicate of #266

[2017-01-20 11:00] #1037 closed

[2017-01-20 16:37] jviotti commented on #906
Sounds good!

[2017-01-20 16:37] #906 closed

[2017-01-20 16:38] jviotti commented on #1036
That's basically an ISO or IMG, as any other image Etcher supports.

[2017-01-20 16:38] #1036 closed

[2017-01-20 16:39] jviotti commented on #1035
I don't think so :(

[2017-01-20 19:02] jspencer commented on #1034
I heard back from Apple Engineering on this issue, they pointed me towards user-installed filesystems. I had installed FUSE at some point  ( https://osxfuse.github.io ) and it was installed at `/Library/Filesystems/ `
After removing everything from `/Library/Filesystems`, this bug cleared up. It still appears to be a bug in diskutil that it can't handle the error though and they may well fix it be

[2017-01-20 19:05] jspencer commented on #1034
To be clear, the file I removed was `/Library/Filesystems/fusefs.fs`

[2017-01-21 00:14] MetaFight commented on #989
I get the same error.  In my case, when I try to use `diskpart` to `clean` or `format` my disk I get an error telling me to check the Event Log.

The event log shows an error for source `VDS Basic Provider` with the message:

I'm fairly certain my SD card is damaged and this has nothing to do with Etcher.

[2017-01-21 04:30] alexandrosm commented on #1035
Can we just show a simple warning if the image has the "windows" word in
it? If some other equivalently simple pattern exists in the names, maybe
let's use that, but keep it overall very simple, rather than some
aggressive regex?

--

*Alexandros Marinos*

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Fri, Jan 20, 2017 at 8:39 AM, Juan Cruz Viotti <notifications@github.com>
wrote:

[2017-01-21 08:35] WasabiFan commented on #829
Desktop apps are now being allowed more broadly into the Windows Store, and I see no reason that Etcher wouldn't be technically functional if packaged with their new tools. Apps ranging from Slack (which is really just their website in an Electron frame) to lower-down system utilities have been demonstrated to work, and they show up with a new privilege level which is essentially "do whatever it w

[2017-01-21 13:13] lurch commented on #1034
Thanks for the updated info, hopefully this is a bug Apple will fix before they release :)

[2017-01-21 19:13] LittleDan9 commented on #900
Experiencing similar issue also trying to write a Rasperian Image. I tried on three different cards. On two different readers. During the process on one of the much slower readers, Windows attempted to mount the flash disk 4 times, I assume this was after each attempt to erase the disk. SanDisk Ultra Plus 32GB HCI Cards. Version 1 Beta 18

![etcher issue](https://cloud.githubusercontent.com/assets

[2017-01-22 16:27] alexandrosm commented on #829
for context, what is the installation experience for windows store apps?

--

*Alexandros Marinos*

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Sat, Jan 21, 2017 at 12:35 AM, Wasabi Fan <notifications@github.com>
wrote:

[2017-01-22 21:49] WasabiFan commented on #829
1. The user arrives at the page for the program in question in the Store app. The Store app responds to custom protocol links, so you can link from a webpage directly to the Store.
2. The user clicks the "get" button.
3. Either the app begins installing or the user is asked to confirm once before it installs; I believe this depends on the version of the OS.
4. The user is notified when the app fin

[2017-01-23 06:52] fhdk commented on #1035
@lurch I can generate a copy for you

[2017-01-23 14:30] jviotti commented on #829
Great stuff, we should definitely look into this soon. I've used the Windows Store a few times, and I agree that the installation experience is much better than downloading an exe and going through a wizard!

[2017-01-23 14:31] jviotti commented on #900
Hi @LittleDan9 ,

Thanks a lot for the info. What SDCard brand and models were you using? We are having a really hard time reproducing this internally to be able to fix, so we think it might be related to certain SD Cards.

[2017-01-23 14:32] jviotti commented on #1034
Sounds great! Let's keep this open to debug why `drivelist` was not ignoring those lines out of the box.

[2017-01-23 14:33] jviotti commented on #900
BTW, I just noticed this is a duplicate of https://github.com/resin-io/etcher/issues/989. Let's continue discussion there!

[2017-01-23 14:33] #900 closed

[2017-01-23 14:37] jviotti commented on #989
Hi @MetaFight ,

Thanks a lot for the report. It might indeed be something related to faulty SDCards, since no-one from the Etcher can reproduce yet. I see you're in Oxford, and since we have an office in London, would you be willing to "donate" your faulty SD Card to the Etcher team for further investigation? We can have a Weengs guy pick it up from any address you can provide to us! Please e-mai

[2017-01-23 14:52] LittleDan9 commented on #989
I am experiencing the same issue but only in Windows. I am using the SanDisk microSDHC UHS-I 32GB SDSQUSC-032G-ANCIA. What I found interesting it that the same card in the same card reader was able to be successfully written and verified in Ubuntu through a VM in that same Windows machine that was producing the issue. A major concern is that after receiving this error in Windows etcher did brick t

[2017-01-23 14:55] jviotti commented on #989
Hm, so it might really be Windows and not the SDCard. Are you using an internal SDCard reader, or an external USB one? Do you see any different if you try the internal vs external?

I believe you should be able to recover these by using the `diskutil` instructions I sent above ^

[2017-01-23 15:02] jviotti commented on #179
Hi @MrDiamond123 ,

We've been drafting a spec of the archive that includes information such as the one you proposed. Feel free to collaborate at https://github.com/resin-io/etcher/pull/707!

[2017-01-23 15:07] MetaFight commented on #989
I'm using an internal reader. And, in my case, windows was happy to read the SD card, but not my raspberry pi.

Also, in windows, some partitioning tools refused to work with the card while others didn't complain. Also, occasionally the card seemed bricked after a failed format, but using the official SD formatting tool always revived it.

Needless to say, I won't be relying on this SD card for cr

[2017-01-23 15:08] MetaFight commented on #989
Also, I'm happy to donate my card. I've already replied by email.

[2017-01-23 15:09] jviotti commented on #989
Hi @MetaFight ,

We got your e-mail. Thanks a lot for the good willing. We'll hopefully arrange something very soon :) If we can reproduce the issue with that SD Card, that would be a huge step forward with this issue.

[2017-01-23 15:16] LittleDan9 commented on #989
Both disks were new and they were able to read and write a test file after using the SD Formatter. Once using Etcher in Windows 10 and receiving the error the disks became non-functioning. I had attempted to use diskpart to repair, but the event log shows the following: `The IO operation at logical block address 0x0 for Disk 4 (PDO name: \Device\000001be) failed due to a hardware error.` Each card

[2017-01-23 15:53] lurch commented on #989
I once had a cheap SD card-reader that would always report cards as read-only, when they weren't. I carefully took it apart and found that the write-protect detection switch (a little metal lever) had got bent into the 'always locked' position. Once I carefully bent it back to where it _should_ be, it worked fine afterwards.

*Really* interesting that the hardware that doesn't work natively in Win

[2017-01-23 16:15] LittleDan9 commented on #989
It doesn't always report this. It only reported this after the Etcher write failed. It is not as if every card I put in it is write protected. Additionally, the same card worked on that reader previous to the Etcher fail.

For this device in particular, Windows is simply using the Generic STORAGE DEVICE USB Device drivers that are baked into Windows. Insignia does not offer any special drivers for

[2017-01-23 16:28] lurch commented on #989
On the cards that are "bricked", are you able to run the commands from [here](https://github.com/resin-io/etcher/blob/master/docs/USER-DOCUMENTATION.md#gnulinux) from within the Linux VM to 'clean' them?
Alternatively, do you have e.g. a digital camera that you could use to try formatting the cards? (I've seen that mentioned elsewhere as a "last ditch" attempt which sometimes works when nothing el

[2017-01-23 16:49] LittleDan9 commented on #989
`Disk 1:
1+0 records in
1+0 records out
512 bytes copied, 0.0100766 s, 50.8 kB/s
`
`Disk 2:
1+0 records in
1+0 records out
512 bytes copied, 4.44272 s, 0.1 kB/s
`
dd isn't reporting any errors, but it as you can see it is not zeroing out the disk.

Disk 1 appears to have a partition table becuase in GParted it is listing a fat32 file system with 16Mib Used and 28.77 Gib Unused. This may because I

[2017-01-24 01:05] agsdot commented on #266
Any updates/progress on this issue @jviotti?

[2017-01-24 01:06] Jamesits opened #1042 "Use /dev/rdiskN instead of /dev/diskN on macOS"
- **Etcher version:**
1.0.0-beta18
- **Operating system and architecture:**
macOS (general)

`/dev/diskN` is buffered while `/dev/rdiskN` is unbuffered. Accessing raw disk makes writing a lot faster in certain cases.

[2017-01-24 02:40] lurch commented on #989
What makes you think that? All that that `dd` command does is zero out the first 512 bytes of the disk, which is where the MBR is stored, and after that everything else should see the disk as "unformatted".
But it obviously shouldn't take 4 seconds to write only 512 bytes, so something weird is definitely going on :-/

AFAIK there's nothing that can be done to an SD card - from the software side -

[2017-01-24 02:52] lurch commented on #1042
I've seen this same suggestion being made on the RPI documentation repo quite a few times (see https://github.com/raspberrypi/documentation/pull/192 and the other issues it links too), but not being a Mac user I never quite understood the difference ;-)

[2017-01-24 02:56] lurch commented on #1042
Is the `If this command fails, try using disk instead of rdisk` comment on https://www.raspberrypi.org/documentation/installation/installing-images/mac.md something we need to be careful of? Are there reasons why one method might fail when the other method might succeed?

[2017-01-24 03:00] LittleDan9 commented on #989
My bad, didn't look to hard at the dd command, just copied and pasted it this morning half asleep. For some reason I thought it was zeroing the whole 32GB.

They were purchased form a reputable source, not to worried about, still have 10 days left to exchange/return them. I bought more than two, and those two happen to be the only two to display symptoms and where the only ones I chose to "burn" u

[2017-01-24 03:04] Jamesits commented on #1042
@lurch `/dev/diskN` is a 4K buffered device while `/dev/rdiskN` is a raw unbuffered one. When writing to disks not optimized for 4K r/w, there may be a significant performance drop when using buffered device. (Some user have noticed a 10x speed drop; my personal tests show it largely depends on the card.) Also in the use cases of Etcher we really don't need buffer.

I've never encountered the situ

[2017-01-24 06:57] jspencer commented on #1034
10.12.3 was released with the bug. Still should be rare for people to have third-party filesystems installed.

[2017-01-24 15:02] blinkenlight commented on #266
This would be pretty important for me too - I'd just be doing backups and restores (if needed = I screw up) on the same card anyway.

[2017-01-24 15:53] jviotti commented on #266
Hey there,

We are sadly not making progress on this one now given that we're preparing some other major features for a new release. This is something we really want to support, so we'll definitely allocate some time for this soon.

That being said, if anyone is motivated enough to make this work, we welcome contributions to https://github.com/resin-io-modules/etcher-image-write, and then to integ

[2017-01-24 16:05] jviotti commented on #1042
Hey there!

We present the `/dev/diskN` form for user friendliness purpose, but we use the raw device (`/dev/rdiskN`) internally (see https://github.com/resin-io/etcher/blob/master/lib/cli/writer.js#L67). The `raw` property comes from https://github.com/resin-io-modules/drivelist, which is set to `/dev/rdiskN` on OS X.

[2017-01-24 16:05] #1042 closed

[2017-01-24 17:46] LittleDan9 commented on #989
Unfortunately, after posting the above, I double checked my receipts. I needed to do the exchange last night, so I was unable to test it at the hardware level. I think the evidence is inconclusive that Etcher was the cause for the bricking of the SD Cards. It may have just been two bad cards that Etcher in Windows happen to be the first application to test their limitations. I'll be imaging the re

[2017-01-24 18:35] lurch commented on #989
You could always try using h2testw or F3 on your new cards to verify that they're also not bad / dodgy / fakes.

[2017-01-24 18:55] LittleDan9 commented on #989
@lurch Thanks for the advice, I'll definitely do it that.

I did have a card that has been used, same model 32GB SanDisk, that needed wiped and reimaged. I attempted this with the Windows Version and continued to receive the timeout error. This card however was not damaged as a result of the timeout. I was able to reformat using the SD Formatter and image it using Etcher in the VM on Ubuntu. So I

[2017-01-24 21:34] jviotti commented on #740
I'm closing this given the new approach we're going to take towards image metadata.

[2017-01-24 21:34] #740 closed

[2017-01-24 21:34] jviotti commented on #716
I'm closing this given the new approach we're going to take towards image metadata.

[2017-01-24 21:34] #716 closed

[2017-01-24 21:35] jviotti commented on #179
I'm closing this given the new approach we're going to take towards image metadata.

[2017-01-24 21:35] #179 closed

[2017-01-24 22:23] WasabiFan commented on #740
I've seen this mentioned as the close reason for multiple issues... What is this new approach?

[2017-01-24 23:50] jviotti commented on #932
This has been fixed for OS X (at least) by https://github.com/resin-io/etcher/pull/1009. I'm testing on the remaining operating systems.

[2017-01-24 23:54] jviotti commented on #932
The issue is fixed for GNU/Linux as well.

[2017-01-24 23:56] jviotti commented on #993
@konmouz The problem is that we can't put links in tooltips (since they will disappear when the user tries to click on them since the mouse is no longer on top of the element showing the tooltip).

I guess let's do a short modal with it then?

[2017-01-25 00:09] jviotti commented on #876
I'm closing this since there is no way to reliably detect the architecture. As a solution, we have a table containing all downloads for all operating systems and architectures in the website.

[2017-01-25 00:09] #876 closed

[2017-01-25 00:10] jviotti commented on #929
Closing since this issue was already resolved.

[2017-01-25 00:10] #929 closed

[2017-01-25 00:19] jviotti commented on #932
I'm closing this issue. Its being fixed in all OSes.

[2017-01-25 00:19] #932 closed

[2017-01-25 00:19] jviotti commented on #852
This is not going to be needed anymore given recent changes to the extended archive format.

[2017-01-25 00:19] #852 closed

[2017-01-25 00:21] jviotti commented on #848
By reading this again after a while, I agree with @lurch that it should be closed in favor of the other issue. Sorry for the non-sense :)

[2017-01-25 00:21] #848 closed

[2017-01-25 00:22] jviotti commented on #751
@jhermsmeier What are you thoughts on this?

[2017-01-25 00:38] jviotti commented on #735
I've sent a PR fixing the original concern of this issue (the validation error message). There were some cool ideas mentioned here, however I believe that taking the effort to say to the user how much of the flash failed is not critical and probably not worth it, since as a user, even if it fails 1%, I wouldn't trust the drive enough to use it.

[2017-01-25 01:21] alexandrosm commented on #993
How about a tool tip that stays on for a second or two so the user can
click the link?

On Jan 24, 2017 3:57 PM, "Juan Cruz Viotti" <notifications@github.com>
wrote:

[2017-01-25 09:39] lluiscab opened #1048 "Flash drive is read only after burning ISO"
- **Etcher version:** latest
- **Operating system and architecture:** Xubuntu 14.04
- **Do you see any meaningful error information on DevTools?**

When I burn an ISO to any flash drive, it gets mounted as read only, to make it writtable, I need to format it with windows or use gparted. I'd like an option to disable this so I can edit the burned ISO.

[2017-01-25 10:45] jhermsmeier commented on #751
I've just benchmarked this a bit with a BlockReadStream and a BlockWriteStream (which actually read & write Buffers with a specified block size – unlike core stream's `highWaterMark`, which only specifies the size of the internal queue buffer).

It seems like it doesn't matter much above a block size of 256KB – which is to be expected, as we're not in control of what the underlying system does. Bl

[2017-01-25 10:54] mwebber commented on #995
I am having a similar problem. This is Windows 7, on a laptop with an internal card reader.
Etcher 1.1.0-beta18, Windows 64-bit build.

Windows Explorer shows my "Secure Digital Storage Device (E:)" as 14.4GB free of 14.4GB. I had just formatted the card using standard Windows format (this makes it FAT32). The card I purchased was advertised as 16GB, so that makes sense.

at "Select Drive", Etcher

[2017-01-25 10:57] jhermsmeier commented on #751
To *really* figure this out, one could set up a rig with all sorts of operating systems and devices connected with various protocols / wires / buses and benchmark the hell out of them – but at that point I think we'd be over-optimizing a wee bit (as it probably depends more on the devices being written to anyways), and get more speed gain by utilising compression, sparse image formats and/or block

[2017-01-25 12:33] lurch commented on #751
Hah, I was going to suggest: is it worth benchmarking on Windows, Mac and Linux to see if they all behave similarly? (i.e. if the same block size is 'optimal' for all 3)

Fundamentally the bottleneck will always be the SD card write speed, and there's obviously nothing we can do to improve that.

[2017-01-25 12:41] lurch commented on #995
How peculiar! Just for the sake of comparison, do you have any other SD cards and/or SD card readers you can test with, to see if they all give these strange results?

If you format the card with the official SDFormatter tool, does that `win32.bat` still produce the same output?

[2017-01-25 14:32] #735 closed

[2017-01-25 14:57] #881 closed

[2017-01-25 15:02] jviotti commented on #751
Yeah, sounds like too much effort for very little gains. Maybe worth to benchmark in other OSes just in case, but I feel that should close this ticket for now. What do you think @jhermsmeier ?

[2017-01-25 15:04] jviotti commented on #1048
Hi @lluiscab ,

We don't do any manipulation to the image contents, therefore if certain partitions of it are read only it means that's the way it was set by the image publisher itself (on the image partition table). We could of course provide an option to do this, but it might be necessary for a partition to be read only for the OS to work correctly. How would we know that?

For that reason I thi

[2017-01-25 15:04] #1048 closed

[2017-01-25 15:09] jviotti commented on #740
Hi @WasabiFan ,

Sorry for not being explicit enough (I think I described things better in a couple of issues but then become lazy about it). The idea is that the image metadata will live in a centralized metadata repository. By decoupling the metadata from the image itself, we solve a lot of streaming related issues, simplify the whole model, and allow Etcher to become some sort of "marketplace",

[2017-01-25 15:21] konmouz commented on #881
If we use 'Title Case' everywhere should be fine, good point @lurch.

[2017-01-25 15:23] jviotti commented on #881
@konmouz Everywhere including modal titles, and step captions (e.g: "SELECT IMAGE", etc)?

[2017-01-25 15:30] konmouz commented on #881
Yes @jviotti. It is not wrong what we have now, just to make it look a bit more consistent.

[2017-01-25 15:35] jhermsmeier commented on #751
Yup, that's definitely a good idea – just to make sure we don't use a block size that makes things extremely slow on some other OS

Agreed, we can always reopen it once we're at the point where it starts to make a difference

[2017-01-25 15:41] jviotti commented on #751
OK, cool. I'll close this issue then, and we can re-open if you find anything interesting in other OSes.

[2017-01-25 15:41] #751 closed

[2017-01-25 18:32] Mystified1234 opened #1053 "Not executing in manjaro-openrc"
Find below details of the build, taken from Git from https://github.com/resin-io/etcher.git & then cloned into my etcher directory. From threre built with makepkg.
 I'm unable to locate icons to execute or even run from terminal

[code]

[2017-01-25 23:16] alexandrosm commented on #830
@jviotti should we close this?

[2017-01-26 10:12] mwebber commented on #995
After formatting with the official SDFormatter tool, `win32.bat` reports:
[code]
So, the same as before. And Etcher still thinks it has 0 space.

Note that if I use the Win32 Disk Imager application (https://sourceforge.net/projects/win32diskimager/files/latest/download), it _can_ successfully write to the same SDCard (note: needs to be run as Administrator to get access to physical drive).

[2017-01-26 14:22] timjstone opened #1054 "Command failed: C:\Users\<username>\AppData\Local\Temp\XXXX.tmp.bat (code 1)"
- **Etcher version: Beta18**
- **Operating system and architecture: Windows 10 **

when starting Etcher, i get the following, and Etcher doesn't start

[code]

[2017-01-26 14:47] jviotti commented on #830
I think this feature is still valid, and haven't been done yet.

[2017-01-26 14:48] jviotti commented on #1054
Looks like an issue with our drive scanner script in your PC. Can you try running the following `.bat` file and report back what you get? https://github.com/resin-io-modules/drivelist/blob/master/scripts/win32.bat

[2017-01-26 14:50] jviotti commented on #1053
Hi @Mystified1234 ,

I don't understand very well what the issue is. Did you get Etcher running locally first (using `make electron-develop`)?

What do you get when running the remaining package?

[2017-01-26 14:51] jviotti commented on #993
A popover seems to be what we want here: https://angular-ui.github.io/bootstrap/#/popover

[2017-01-26 14:59] jviotti commented on #995
The issue definitely comes from our VBScript program. 8225280 bytes equal 0.00822528, so it makes sense Etcher things it has 0 space.

We get the drive size from the size property of the [`Win32_DiskDrive class`](https://msdn.microsoft.com/en-us/library/aa394132(v=vs.85).aspx), which is described as:

Can you try running `wmic diskdrive list brief` in cmd.exe and report back the results?

Its weir

[2017-01-26 15:00] jviotti commented on #995
Another alternative would be to try getting the size of the logical disk instead. Let me try that here.

[2017-01-26 15:08] jviotti commented on #995
Can you try the following modification of the `win32.bat` script? I included logging to check what are the sizes of the logical disks:

[code]

[2017-01-26 15:28] timjstone commented on #1054
output as follows:

device: "\\\\.\\PHYSICALDRIVE1"
description: "SanDisk SSD U110 16GB"
size: 16006394880
raw: "\\\\.\\PHYSICALDRIVE1"
system: True
protected: False
mountpoints:
  - path: "D:"

device: "\\\\.\\PHYSICALDRIVE2"
description: "SanDisk Ultra Fit USB Device"
size: 124218178560
raw: "\\\\.\\PHYSICALDRIVE2"
system: False
protected: False
mountpoints:
  - path: "H:"

device: "\\\\.\\PHYSI

[2017-01-26 16:15] mwebber commented on #995
**Test 1**
Result after formatted using official SDFormatter. SDFormatter reports that it's 14GB (approx), and so does Windows Explorer.
You can see that the logical size for E is reported as 15.5GB, and size is 8225280

[code]
At this point, Etcher thinks the card has zero space.

**Test 2**
I then wrote a 2.5GB .img file to the card using Win32DiskImager (running as an admin). That worked.

Wind

[2017-01-26 16:16] jviotti commented on #986
I'm closing this since I believe its fixed in v1.0.0-beta.18, but please re-open if not!

[2017-01-26 16:16] #986 closed

[2017-01-26 17:59] daturach commented on #1025
Hello

Same error message, in French this time  :-)

Etcher-1.0.0-beta.18-win32-x64
Windows 7, 64 bits Edition Familiale Premium

Anything I can do to help?

[2017-01-26 18:24] jviotti commented on #1025
Hi @daturach ,

Can you try running the `.bat` scripts I linked to in my previous comment?

Also, what happens if you *any* command on `cmd.exe`? Do you get the MySQL warning as well?

[2017-01-26 18:26] jviotti commented on #1025
For this user, it seems to happen everytime a `cmd.exe` window is opened. Maybe its the same thing?

https://i.stack.imgur.com/e8b8q.png

[2017-01-26 18:29] jviotti commented on #1025
Hi @daturach ,

Can you also paste a screenshot of the error dialog?

[2017-01-26 18:34] jviotti commented on #995
Hi @mwebber ,

Thanks a lot for the testing! In the first case, looks like we can indeed rely on the logical drives size. I'll do some modifications to the script and potentially ping you for one more try.

Regarding the second scenario, it makes no sense that after writing an image Windows Explorer sees the drive as size 0. I have no clue what could be causing that :S

[2017-01-26 19:04] jviotti commented on #995
Hi @mwebber ,

Can you try this new version of the script? What I'm doing here is get the size of every logical disk (e.g: each drive letter) and add them all together. If the sum of the logical size is greater than of the drive size, we display the logical size, otherwise we display the drive as we normally do.

This should at least mitigate your issue but its not way a definitive fix. Imagine th

[2017-01-26 19:37] jviotti commented on #1054
Can you try running `echo %ERRORLEVEL%` **right** after running the `.bat` command?

[2017-01-26 22:27] timjstone commented on #1054
returns 0

I tested both by running it from the command line and including the the cmd file. both returned 0

Tim

[2017-01-26 22:47] lurch commented on #995
@jviotti I realise it's probably not something you can do much about, but would it be worth trying to dig into why `wmic diskdrive list brief` is reporting the wrong size?

@mwebber Probably a silly question, but do you have any ideas about how we might be able to reproduce your problem, for debugging purposes? (and as I asked before, are you able to check with different SD cards to see if it's a

[2017-01-27 09:15] daturach commented on #1025
Hello @jviotti

Thanks for your quick answer.
This is the error message I get when starting etcher:
![etcher_mysql_error](https://cloud.githubusercontent.com/assets/9865568/22365037/a728b268-e475-11e6-8be8-1a0767870722.png)

As a side note, this dialog box is not even supporting accented chars...:-(

Running win32.bat before the fix:
![before_bat](https://cloud.githubusercontent.com/assets/9865568

[2017-01-27 09:54] konmouz commented on #993
@jviotti can we trigger this on hover?

[2017-01-27 09:59] konmouz commented on #830
@jviotti we can follow #993 here or just a tooltip. Please, also check [zeplin](https://zpl.io/Z2LGn4) for label reference.

[2017-01-27 15:03] jviotti commented on #993
Looks like we can do so by passing `popover-trigger="mouseenter"`.

[2017-01-27 15:04] jviotti commented on #993
I've been trying to write up something for this without luck. What should we explain? There is no need at all to show the final checksum (its already being used internally) so it yields little benefit to the user. Also, where do we link the user to? The wikipedia page of CRC32?

[2017-01-27 15:07] jviotti commented on #830
@konmouz Not sure I'm seeing the Zeplin screen you're referring to. How would a tooltip/popover work here? Maybe we should disable such drive with a nice badge that somehow conveys to the user that this is the drive that contains the image instead?

[2017-01-27 15:12] jviotti commented on #995
Yeah, seems to be an OS/driver issue. The MBR/GPT should contain information about the size of whole drive which should be bullet proof, but accessing the partition table of each drive on each call to drivelist sounds like a bad idea. We probably can't do that with VBScript anyway.

[2017-01-27 15:17] lurch commented on #830
That's what I was thinking, yes.

[2017-01-27 15:17] jviotti commented on #1054
Hi @timjstone ,

That's weird. Your error comes from a `.bat` file in a temporary location. That location is created by Electron itself when calling `child_process.execFile` in order to extract the executable out of the asar.

The only `.bat` script we have is the drive scanning script, so it must be related to it, however running it independently seems to work fine for you.

I have two theories:

[2017-01-27 15:18] jviotti commented on #830
That is an easy fix. The hard part is to figure out what to put in the badge. I can't think of anything short while descriptive. "IMAGE IS IN DRIVE"?

[2017-01-27 15:19] jviotti commented on #993
Maybe @lurch can help us with the contents?

[2017-01-27 15:25] jviotti commented on #1025
I think I have a theory about this. While our YAML parser will ignore invalid keys (https://github.com/resin-io-modules/drivelist/pull/99), the JavaScript code that executes the `.bat` script as a child process will blow up with an error if the `stderr` from the child process is not empty:

[code]

This seems to be what's happening given that the error contains *both* MySQL warning instead of just

[2017-01-27 15:28] jviotti commented on #1025
In the mid-time, in order to validate this theory, I'll produce a custom Windows build that logs a warning instead of throwing an error if the child process includes `stderr` output.

[2017-01-27 15:29] lurch commented on #995
Nope, the MBR/GPT is _far_ from bulletproof - it's just data written to the drive (in a particular location), and so can be set to anything. E.g. if I do `dd if=/dev/zero of=/dev/sdX` then the whole drive will be written with zeros, and so the MBR and GPT won't even exist. But there's still OS-level info (the cylinders, heads, sectors, etc. that you referred to earlier) which can be retrieved and

[2017-01-27 15:35] timjstone commented on #1054
i have checked the script and yes it is identical to the temporary bat files created and run. the file you pointed to me works the same (i.e. no errors when run manually)

i have disconnected all the drives i can (the laptop i am using has two built in drives both SSDs (one on a M2 interface)

running as an administrator still fails (so doesn't seem to be permissions related). the error seems to i

[2017-01-27 15:43] lurch commented on #1025
Hmmm, given that we've _only_ ever seen this error for MySQL (for a still-unknown reason) but for multiple times, I'd be tempted to filter out only any stderr messages starting with `'MySQL' ` which matches both the English and French errors above.

Also, should there be a separate issue for the French error-dialog not correctly showing accented characters?

[2017-01-27 15:44] lurch commented on #830
"SOURCE DRIVE" ?

[2017-01-27 16:04] jviotti commented on #1025
It seems to be a MySQL `%PATH%` configuration issue. Try googling the warning, the error seems to be well known. The reason why we see it here is that when you execute `cmd.exe`, it tries to run some MySQL command by default, and thus we get it on every new `cmd.exe` instance, including the one that triggers the drive detection script.

Yeah, maybe, although the fact that a similar error might be

[2017-01-27 16:04] lurch commented on #993
Yeah, I've actually always wondered why the "verification complete" screen shows the CRC32 checksum. Maybe we should only bother showing the checksum, if we're flashing an image where we also have the checksum too (in whatever format), and then display the checksum in that form (rather than always CRC32).
With text something like
"Image verification produced a matching _&lt;checksum-type&gt;_ [che

[2017-01-27 16:18] lurch commented on #1054
@jviotti Would it be easy to add some custom logging here, to determine whether the .bat file can't be executed at all, or if t started executing and failed mid-way through? (and if so, at which point it failed?)

[2017-01-27 16:23] jviotti commented on #993
Even if the image has a associated checksum, showing this to the user has no benefits at all, but actually confuses them. I remember reading an article about Etcher when the user was wondering what he should do with the checksum we displayed. I guess showing it to the user gives the impression there is an action to do?

Maybe we should just say "Etcher validated the image successfully" and treat t

[2017-01-27 16:26] jviotti commented on #995
True. Let's see the `h2testw` results :)

[2017-01-27 16:29] jviotti commented on #1054
@lurch If the script didn't complete successfully we don't inspect its `stdout` at all, so maybe the extra logging won't do much difference?

Most of these errors hide their root cause as subtleties in the error message. I wonder if by copy pasting the error, some of this information got lost.

@timjstone Do you mind posting a screenshot of the error window?

[2017-01-27 16:30] lurch commented on #1025
I googled, and as expected the first few results are from people actually trying to run `mysql` (which we aren't). But then I found https://github.com/cmderdev/cmder/issues/443 which has lots of great info, especially https://github.com/cmderdev/cmder/issues/443#issuecomment-150202124 which suggests that using double-quotes is the way to fix this problem, i.e. maybe we simply need to change https:

[2017-01-27 16:42] lurch commented on #993
Fair enough. I still wonder if advanced users might optionally want the ability to display the checksum? (e.g. if they're streaming an online image in a future version of Etcher, they have no opportunity to checksum the local disk file).

So let me change my above suggestion to:
By default, we just display "Etcher validated the image successfully"

If the user enabled the "Display checksum after v

[2017-01-27 16:51] timjstone commented on #1054
![image](https://cloud.githubusercontent.com/assets/25367692/22379323/ce03957a-e4b0-11e6-860d-51fab71e3fe1.png)

[2017-01-27 17:35] daturach commented on #1025
@lurch, jviotti

Running win32.bat with the PATH between "" does not produce any MySQL error.

[2017-01-27 17:41] lurch commented on #993
I'm still of the opinion that if a user is advanced enough to explicitly enable the "show checksum" option in the settings (I guess we could have a link to the Wikipedia checksum article from the settings page), then they're advanced enough to not need a tooltip on the "validation successful" page telling them what a checksum is.
But maybe that's just my opinion because I'm an advanced user myself

[2017-01-27 17:52] jviotti commented on #1025
Amazing discovery! This might indeed be the reason! I'm uploading a custom build with these changes and we'll see how it goes :)

[2017-01-27 18:01] jviotti commented on #1025
@daturach Can you try the following custom build as well just to confirm? https://drive.google.com/open?id=0B7tkbonGU-RyNTRxdlBhRVgwQnc.

[2017-01-27 18:15] jviotti commented on #1054
Weird. Maybe this is also failing because of stderr output, like https://github.com/resin-io/etcher/issues/1025? @timjstone Do you mind trying this custom build? https://drive.google.com/open?id=0B7tkbonGU-RyNTRxdlBhRVgwQnc

[2017-01-27 18:23] jviotti commented on #993
True fact. I think we have a sound proposal for @konmouz to review.

[2017-01-27 18:32] mwebber commented on #995
Ok, here's the latest results:

# Test 1
1) After successfully writing disk image (containing Armbian Linux) using Win32 Disk Imager application, I put it in my OrangePi. That booted ok, and it does something to the card to recover the extra space beyond the image. Now Linux as expected reports it as 1 14GB drive.

2) Put SDCard in Windows 7. Windows 7 tells me that it needs formatting. I presume

[2017-01-27 18:41] jviotti commented on #995
Checking if you can reproduce this on other operating systems would help validate that theory.

[2017-01-27 20:33] daturach commented on #1025
Thanks
What's the process? unzip and run Etcher.exe?
I get the following:
![etcher_test1](https://cloud.githubusercontent.com/assets/9865568/22386552/e0161a40-e4d7-11e6-88b4-f2d11aa5e30e.png)

[2017-01-27 20:46] jviotti commented on #1025
Let me try here. I might be messed something up when editing the files straight in the asar archive.

[2017-01-27 21:20] jviotti commented on #1025
Try this one: https://drive.google.com/open?id=0B7tkbonGU-RyUnJxbm5WeVpSM1U. Indeed messed up the previous one, sorry about that :)

[2017-01-27 21:37] daturach commented on #1025
Ok thanks; it's looking fine. MySQL error message disappeared.
Next week, I will start flashing some images. Great work!

[2017-01-27 21:45] jviotti commented on #1025
Woohoo! Thanks a lot for the help on this issue. I'll send a patch to apply this fix!

[2017-01-27 21:46] jviotti commented on #1025
All the credit to @lurch and his amazing observations of course \o/

[2017-01-27 22:12] jviotti commented on #1034
In any case, do you think we will ever get something worth inspecting from the stderr output of the scripts? Maybe we should check for situations where an error might happen and exit the script with non zero exit code and shut up stderr from it.

[2017-01-27 22:15] jviotti commented on #1034
Another alternative is to pipe stderr to stdout for the whole script, and delegate the responsibility of omitting or rejecting stuff to the parser.

[2017-01-28 01:30] alexandrosm commented on #1025
should we just be double-quoting everything-in-general and get it over
with? it seems so many issues end with "use double quotes"

--

*Alexandros Marinos*

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Fri, Jan 27, 2017 at 1:47 PM, Juan Cruz Viotti <notifications@github.com>
wrote:

[2017-01-28 13:18] lurch commented on #735
Oh? Is it possible that it might be only a 'temporary' failure, and attempting to write the image a second time might work? Or do you think *any* errors means the whole card is unusable?

[2017-01-28 13:53] lurch commented on #1034
Given that we can't know in advance which errors (sent to `stderr`) are safe to ignore, and which aren't, I still think the best option (that I also suggested [here](https://github.com/resin-io/etcher/issues/1025#issuecomment-275695915)) would be to filter stderr against a whitelist of "safe to ignore" regexes. Yes it means these platform-specific lists will have to be maintained and might grow ov

[2017-01-28 14:58] lurch commented on #995
I found http://serverfault.com/questions/760253/how-to-list-basic-information-about-disks-cylinders-heads-sectors-sector-siz which provides info on how to get the CHS values from within Windows.
So @mwebber if you can run `wmic diskdrive > diskdrive.txt` and then paste the contents of diskdrive.txt here, that'd be useful. And if you can boot up the card in your OrangePi, the output of `sudo fdisk

[2017-01-28 14:59] lurch commented on #995
(oops, mouse-slip)

[2017-01-28 20:12] timjstone commented on #1054
![image](https://cloud.githubusercontent.com/assets/25367692/22399535/016df474-e596-11e6-8ea0-c370e05e8db5.png)

unfortuately, no change

Tim

[2017-01-29 18:52] crushedice2000 commented on #308
I can help with the Spanish translation

[2017-01-30 14:03] #1025 closed

[2017-01-30 14:13] jviotti commented on #1025
I'll definitely check if we can use double quotes elsewhere. At least in the Windows script, everything else is quoted already.

[2017-01-30 14:53] jviotti commented on #1025
I've sent two PRs addressing issues highlighted by `shellcheck`, a shell script linter, for both the GNU/Linux and OS X scripts:

- https://github.com/resin-io-modules/drivelist/pull/134
- https://github.com/resin-io-modules/drivelist/pull/135

This tool, among other improvements, highlighted all the places where we should quote for safety purposes.

[2017-01-30 15:00] jviotti commented on #735
It might be fine in most cases, or the error is too subtle to be noticed (or the file-system is able to cope with it at runtime), however my point is that telling the user exactly what blocks failed, etc is not very useful from its point of view.

[2017-01-30 15:25] WasabiFan commented on #735
I'd argue that the feature isn't necessarily useful until you are attempting to figure out what _does_ work. Knowing that a particular block failed isn't particularly useful in itself, but if you determine that different images fail on the same block for a given drive, that tells you a lot -- and gives you a logical next step for finding a configuration that does work. Likewise, if it fails at the

[2017-01-30 16:14] lurch commented on #735
I wasn't suggesting that if e.g. only 0.5% of a drive failed validation that it'd be worth trying booting the drive anyway. (I was only referring to percentages with my previous comment, not necessarily knowing _which_ blocks failed - which is more of an advanced-user feature)
I was more suggesting that if 0.5% of a drive failed to flash that it might indicate only a temporary writing failure, and

[2017-01-30 16:24] jviotti commented on #735
Let's bring @jhermsmeier to the loop (though we should probably open a new issue for this). He's re-architecting our drive flashing engine, so it would be nice for him to keep this in mind, and see if its feasible to get a percentage of failed blocks somehow (then we can figure out what to do with the data).

[2017-01-30 18:55] jviotti commented on #1034
In my recent drive scripts refactoring (https://github.com/resin-io-modules/drivelist/pull/134, https://github.com/resin-io-modules/drivelist/pull/135) I enabled the `set -e` option, which will cause the entire script to fail if any of the called commands return an exit code other than zero. With that option enabled, I'm thinking ignoring `stderr` if the whole script exists with exit code zero is

[2017-01-30 19:10] lurch commented on #1034
Yeah, I guess that sounds reasonable, since if a command exits with status code 0, then anything printed to `stderr` _should_ be a warning rather than an error :)
Would it be possible to still log stderr output somewhere, e.g. to DevTools?

[2017-01-30 19:32] zhiwan opened #1063 "Creating a disk image"
- **Etcher version:** 1.0.0-beta18
- **Operating system and architecture:** Mac OS Sierra
- **Do you see any meaningful error information on DevTools?**

This tool is quick amazing and would like to thank everyone who contributed. I've had to use win32diskimage for most of my image burning and this alternative is quite compelling. One thing I was wondering is if ether will create a disk image from

[2017-01-30 19:43] lurch commented on #1063
Duplicate of #266

[2017-01-30 19:43] #1063 closed

[2017-01-30 20:03] daturach opened #1064 "Error: Path must be a string. Received undefined"
Hello

I am running the version you sent me on Friday last week while debugging an issue with MySQL.
Etcher-1.0.0-beta.18+4f621f6-win32-x64-MYSQL-FIX
Windows 7, French

Today, I am not able to burn an img file. I am getting this error message when clicking on "Flash":
![etcher_path_error](https://cloud.githubusercontent.com/assets/9865568/22439180/f7d52a78-e72e-11e6-8577-c9c1edacd67b.png)

Can you

[2017-01-30 20:33] jviotti commented on #1034
Done: https://github.com/resin-io-modules/drivelist/pull/137. I'm using the https://github.com/visionmedia/debug module to print the scripts `stderr` to  (the parent process) `stderr` if debug mode is enabled. I'll enable this on Etcher once that PR gets merged and we will see `stderr` in DevTools.

[2017-01-30 20:53] jviotti commented on #1064
Hey there @daturach,

Sorry to hear you're still having issue. The path issue you get is weird. Can you open DevTools (Ctrl+Alt+I), go to the "Console" pane, type `require('electron').remote.process.argv`, press Enter and report back the results?

[2017-01-30 21:46] daturach commented on #1064
Result is:
`["D:\test\Etcher\Etcher.exe"]`

[2017-01-30 22:02] jviotti commented on #1064
OK, cool. Can you try editing the file called `resources/app/lib/child-writer/renderer-utils.js` on line 46 from:

[code]

To:

[code]

?

Let me know if that's enough to make it work, otherwise I'll upload a new one for you!

[2017-01-30 22:10] daturach commented on #1064
It's enough but I have a new message:

![invalid_message](https://cloud.githubusercontent.com/assets/9865568/22443949/3451d76e-e741-11e6-93d1-8c2406a8ad71.png)

[2017-01-30 22:12] daturach commented on #1064
Follow by this one:
![invalid_message1](https://cloud.githubusercontent.com/assets/9865568/22444032/81699f00-e741-11e6-9596-e3290dc9e1c0.png)

[2017-01-31 11:56] konmouz commented on #830
@jviotti I am referring to drive labels in general (e.g zeplin page: Step 2/select drive/modal/inactive). Also, labels should be below title, not above - if possible.
@lurch "SOURCE DRIVE" sounds great. We can use just a normal black tooltip for details.

[2017-01-31 13:05] jviotti commented on #830
@konmouz What do you think of https://github.com/resin-io/etcher/pull/1066?

[2017-01-31 14:57] konmouz commented on #993
@jviotti based on the conversation above, I think we can hide the checksum within some sort of details window. Meaning that if there is a 'space' to list flash details then we can also display checksum. That helps us since it removes it from the main UI and therefore if users are not aware of it they will ignore it while advanced users will just use it. The option method that @lurch suggested comp

[2017-01-31 15:51] jviotti commented on #993
Cool. Looking forward to the details window wireframe!

[2017-01-31 16:11] lurch commented on #993
Suggestions for the kind of information that we could potentially display after flashing (with no opinions on which should be shown, and whether they should be shown on the main 'success' page or only in a 'details' view) :
 * whether the validation succeeded or not (pretty important! :wink: )
 * filename of the image we just wrote
 * size of the image
 * checksum type and checksum of the image -

[2017-01-31 16:29] jviotti commented on #1064
Hi @daturach ,

Can you try the following new build: https://drive.google.com/open?id=0B7tkbonGU-RyTGVHa1B3QjQ0MW8?

[2017-01-31 16:34] jviotti commented on #993
This might change the flow a bit. Currently we display an error ribbon on top of the main page if the validation fails, while we move to a new screen if the validation succeeds.

I personally never really liked that flow. Maybe we should also move to a new screen if validation fails? @konmouz ?

[2017-01-31 16:48] konmouz commented on #993
Yes, agree. So we can also display error details as well. I have some high priority tasks to finish but I'll try to wireframe this process based on @lurch's list asap.

[2017-01-31 21:49] daturach commented on #1064
Hello jviotti

![flashed](https://cloud.githubusercontent.com/assets/9865568/22485232/1d996a54-e805-11e6-9b7b-eba3a59d4f6c.png)

It's looking pretty good. It's burning at about 10MB/s and just completed the process.
One thing I need to check right now: I have a multi-drive supporting different types of cards but I don't see the drives anymore! I will reboot and report back in a few minutes...

Tha

[2017-01-31 22:22] daturach commented on #1064
Tomorrow, I should receive some hardware to test the image.
However, ejecting the card make all drives unavailable. Only a reboot bring them to life again.

[2017-01-31 23:04] lurch commented on #1064
There's a discussion about that in #750

[2017-02-01 14:46] jhermsmeier opened #1074 "Handle & track block write failures"
- **Etcher version:** any
- **Operating system and architecture:** any

New issue to track suggestions made in https://github.com/resin-io/etcher/issues/735#issuecomment-274985283 to keep & expose data on blocks which failed to be written during the flashing of an image.

[2017-02-01 14:52] jhermsmeier commented on #735
@jviotti @lurch @WasabiFan I made a new issue to track this: https://github.com/resin-io/etcher/issues/1074

[2017-02-01 14:52] jhermsmeier commented on #1074
Keeping track of a percentage should be pretty straight forward, as we only need to count blocks written over blocks failed (basically adding to counters, which should be trivial with the "new" block-write-streams)

It shouldn't even be too hard to keep the blocks that failed to be written, as long as it's not a high percentage failing (or we just keep the block addresses, then even that wouldn't

[2017-02-01 16:01] lurch commented on #1074
Just to clarify - #735 wasn't talking about block-write failures (I believe @jviotti made a change so that write-failures get tried something like 10 times before giving up), but about block-verify failures (which implies that we'd need to change the checksumming process).

[2017-02-01 17:08] jviotti commented on #1074
Maybe keep a precise count up to a certain limit, and if that limit is surpassed, just keep and report a percentage? (e.g: 25% failed). If a lot of blocks failed, detailed information is not very useful anymore.

[2017-02-01 17:08] jviotti commented on #1074
Yeah, exactly, that is the challenge of this feature.

[2017-02-01 17:29] jviotti commented on #1064
Awesome, sorry for the custom build mess @daturach. I don't know what happened, all the custom builds usually just work :)

Regarding the multi-sdcard readers issue, this is something we've heard before as @lurch mentioned. Let's continue the discussion there. @daturach Do you mind linking us to the exact adaptor you're using?

[2017-02-01 17:29] #1064 closed

[2017-02-01 17:36] lurch commented on #1064
Just out of curiosity @jviotti what was the cause of _this_ particular issue (that you fixed with an updated build) ?

[2017-02-01 17:38] jviotti commented on #1064
I released a too custom build for him, almost done by hand, and made various mistakes in the way. The particular issue that this user hit was because I didn't package the code inside the asar, and thus the arguments positions that we expect were different, causing weird stuff in both the child writer execution and elevation stuff.

[2017-02-01 17:39] lurch commented on #1064
Ahhhh. So a bug in @jviotti rather than a bug in Etcher then ;-D

[2017-02-01 17:59] jhermsmeier commented on #1074
Oh, sorry – I somehow missed that. Well, if we want to track which blocks didn't check out while verifying, we will need to use entirely different hashing mechanisms like [Merkle trees](https://en.wikipedia.org/wiki/Merkle_tree) (used in Bittorrent, IPFS, and other filesystems) or [rolling hashes](https://en.wikipedia.org/wiki/Rolling_hash), such as [rabin fingerprinting](https://en.wikipedia.org/

[2017-02-01 18:23] lurch commented on #1074
But presumably any rolling-hash or fingerprinting scheme would have to be a tradeoff between the blocksize used and the memory used to store the whole result for a potentially multi-gigabyte disk image, which might have been streamed from the internet?

Pinging @petrosagg as he might want to join in the continuation of the conversation from #735

[2017-02-01 18:54] jhermsmeier commented on #1074
I think the memory requirements should be low enough to just keep the rabin hashes in memory – except for the smallest block sizes (which would be terribly inefficient to write anyways):

| image          |             image size |        block size | block count | rabin hash length |         memory required |
|:---------------|-----------------------:|------------------:|------------:|-----------

[2017-02-01 21:25] jviotti commented on #1064
Yeah, you're welcome to send a PR! :P

[2017-02-01 21:28] daturach commented on #750
Hello @jviotti, @lurch

I have a similar issue with a internal multi-card reader that was reported in thread you mentioned here above (Error: Path must be a string. Received undefined). Basically, once the SD card is burned and ejected, there is no way to re-use the drives. A computer reboot is necessary.
In the meantime, I learned there is an option to not eject the card.

I am running Windows 7

[2017-02-01 21:42] jviotti commented on #1074
So we need to support MD5 and other common checksum algorithms for the downloading phase in case of images we know about that are hosted in the cloud.

When the user attempts to stream an image with extended information, we calculate the checksum they tell us as part of the downloading phase and compare it with what they've told us once the download completes.

In the mid-time, `etcher-image-write

[2017-02-01 21:46] jviotti commented on #750
Hi @daturach ,

What happens when you plug an SDCard to your PC using such adapter? If you open My PC, do you see various "unassigned" drive letter apart from the one from your SD Card?

When you open Etcher, and open the drive selector modal, how many drive letters does it list for that drive? Are they correct, or is Etcher listing those "unassigned" letters?

Check my previous comment (https://g

[2017-02-01 21:55] jhermsmeier commented on #1074
Indeed, I just added an issue regarding that to https://github.com/resin-io-modules/blockmap/issues/6

Yup, I was only suggesting dropping them for the verification step, when reading back from the flashed device, but still verifying the source with them, if that makes sense?

I think we could still do per block rolling hashes when using bmaps (additional to checking the bmap region checksums), as

[2017-02-02 07:53] Dark-Passenger opened #1075 "pendrive not detected when started as a normal user, works when started as sudo."
- **Etcher version:**
beta 18
- **Operating system and architecture:**
Centos 7.3 64 bit
- **Do you see any meaningful error information on DevTools?**

doesnt seem to an attached pendrive when starting as a normal user. using sudo it works.

[2017-02-02 09:08] daturach commented on #750
Hello @jviotti

SD card is connected to "h:"
![select_a_drive](https://cloud.githubusercontent.com/assets/9865568/22542874/3f909144-e92e-11e6-9b33-d047621b6fe3.png)

A propos, could you make this dialog box resizable? :-)

Thanks for the tool. Will have a look later this week.

[2017-02-02 13:37] jviotti commented on #750
Hi @daturach ,

We have some designs to make this larger, and possible stop making it a modal in the future, which should resolve this problem. We'll share the designs very soon, and you can provide feedback if you like.

Thanks a lot, looking forward to hear how it went! In any case, I'm trying to purchase an adapter similar to the one you have, and see if I manage to reproduce here as well.

[2017-02-02 13:47] jviotti commented on #1075
Hi @Dark-Passenger ,

Thanks for reporting, that is indeed weird. Can you try running the following bash script with and without `sudo`: https://github.com/resin-io-modules/drivelist/blob/master/scripts/linux.sh?

I'd also love to see the output of `lsblk -d --output NAME` again with and without `sudo`.

[2017-02-04 11:16] stefan-mihaila opened #1082 "Duplicated error messages"
I noticed this while working on https://github.com/resin-io/etcher/issues/1027. It is caused by a `$q` [issue](https://github.com/angular/angular.js/issues/7992) that has been [solved](https://github.com/angular/angular.js/pull/13662) in `angular 1.6`. The issue is that angular's `$exceptionHandler` is called even for `$q` promises that have a rejection handler.

For example, [here we have a handl

[2017-02-04 11:21] stefan-mihaila commented on #1082
I tried to upgrade `angular` to `1.6.1`, `angular-moment` to `1.0.1` and `angular-ui-router` to `0.4.2`, but I get a very cryptic error message. I think it `angular 1.6` doesn't play well with some other dependency.

[code]

[2017-02-04 21:34] daturach commented on #750
Hello @jviotti

Both tests required a PC reboot to get the H: drive back but they return different messages.
Only H: is not available. I:, J: and K: are still there.

`removedrive h: -d`

RemoveDrive V2.8.4 (x64) - prepares drives for safe removal
Freeware by Uwe Sieber - www.uwe-sieber.de
Removing Drive 'Generic- SD/MMC USB Device' (H:)
success  (reactivation is possible)

`removedrive h: -v`

Re

[2017-02-06 14:17] lurch commented on #750
@daturach  For both tests, after running `removedrive` I assume you tried physically removing and then re-inserting the SD card a couple of times?
Does the "safely remove" option in the Windows systray also exhibit this "drive becomes unusable until you reboot" behaviour, or does it do something different?

@jviotti This [search](https://www.google.co.uk/search?q=Alcor+Micro+Corp+Card+Reader) sugg

[2017-02-06 18:20] jviotti commented on #750
@daturach Thanks a lot for the testing! So to make it clearer, both with `-d` and `-v` only the correct drive was ejected but not the others from the same reader, right (which is the expected behaviour)?

That's odd. I wonder if passing `-47` along with these options result in the correct behaviour:

[code]

So `-47 -v` would perform a "safe removal" of the "volume only".

@lurch Could be. I'd be

[2017-02-06 18:24] jviotti commented on #1082
Oh, amazing find @stefan-mihaila . This explain why we get some double errors on TrackJS /cc @alexandrosm.

Regarding the cryptic error, I assume you finally fixed it on the linked PR, right? If so, maybe worth explaining how you resolved it here, just for reference?

[2017-02-06 18:29] daturach commented on #750
@lurch: Yep, I did unplug the card.
@jviotti: yes, only the correct drive.

Will verify later if `[-47]` does the correct job.

[2017-02-06 18:33] jviotti commented on #750
OK, its at least an improvement. I'll wait to heard how `-47` went before sending a PR.

[2017-02-06 18:44] stefan-mihaila commented on #1082
@jviotti By try and error I realised that `angular-moment` was causing the error, and this wasn't actually `angular 1.6` related. `angular-moment v1.0.0` works fine, `angular-moment v1.0.1` does not, I think it's related to what `angular-moment v1.0.1` exports. In the PR I just used `angular-moment v1.0.0`. I didn't really investigated further, but now that you mention it, I'll take a look out of

[2017-02-06 18:50] jviotti commented on #1082
This seems to be the cause: https://github.com/urish/angular-moment/commit/dccdbbcea6421def5c000c6c88f53affc103d5ad

The module name is not returned anymore if they detect they are running in Electron (for some strange reason).

You could upgrade to v1.0.1 and do `require('angular-moment')` at the top of the file and add the module string to the dependency array yourself.

[2017-02-06 18:53] #830 closed

[2017-02-06 18:53] #1034 closed

[2017-02-06 20:28] daturach commented on #750
Ok, here we go:

`removedrive h: -47 -v`

RemoveDrive V2.8.4 (x64) - prepares drives for safe removal
Freeware by Uwe Sieber - www.uwe-sieber.de
Removing Volume H:
failed

`removedrive h: -47 -d`

RemoveDrive V2.8.4 (x64) - prepares drives for safe removal
Freeware by Uwe Sieber - www.uwe-sieber.de
Removing Drive 'Generic- SD/MMC USB Device' (H:)

Veto=IllegalDeviceRequest
failed

Ok, tomorrow, I

[2017-02-06 20:43] jviotti commented on #750
Haha, that sucks. I wonder why that fails. I remember I got it running on Windows 10 at some points. I just got Windows 7, so I'll see if this is a Windows 7 only issue.

[2017-02-07 04:35] skhameneh commented on #711
@ThomasKaiser @alexandrosm there's also brotli (see https://www.opencpu.org/posts/brotli-benchmarks/).
Although the article is old, it shows brotli beating xz; and Facebook's page shows xz beating zstd.

For node you've got the "brotli" and "iltorb" modules.  "brotli" is "compiled" to LLVM and transpiled to JavaScript using Emscripten; the performance hit isn't horrible, but it's noticeable (I hav

[2017-02-07 10:00] ThomasKaiser commented on #711
Some more info on [zstandard](http://www.cnx-software.com/2016/12/19/facebook-zstandard-zstd-pzstd-data-compression-tools-deliver-high-performance-efficiency/) (see comments for some tests related to SBC world)

[2017-02-07 12:54] lurch commented on #750
@daturach Just to re-request - Does the "safely remove" option in the Windows systray also exhibit this "drive becomes unusable until you reboot" behaviour, or does it do something different?
(i.e. how do you normally "eject" a card from your SD reader, without causing the whole drive to disappear?)

[2017-02-07 13:43] stefan-mihaila commented on #1082
Updated PR to include `angular-moment v1.0.1`: https://github.com/resin-io/etcher/pull/1083/files#diff-c6e5793d29e5153fef626158c52514d3R32

[2017-02-07 15:52] daturach commented on #750
@lurch To answer your question, I do a right-click on the icon on the systray and then eject.

![image](https://cloud.githubusercontent.com/assets/9865568/22698683/8860b838-ed55-11e6-9ae4-b2f6a4d6b9cc.png)

![image](https://cloud.githubusercontent.com/assets/9865568/22698344/95721612-ed54-11e6-969a-484d17484ff7.png)

![image](https://cloud.githubusercontent.com/assets/9865568/22698612/4e4195be-ed5

[2017-02-07 23:12] #1082 closed

[2017-02-08 00:55] WasabiFan commented on #1019
I just experienced what I believe to be the same issue.

![untitled](https://cloud.githubusercontent.com/assets/3310349/22718574/fb081084-ed55-11e6-8c50-c20044e90aa5.png)

Running `RemoveDrive.exe` manually, I get no output for either of the two drive letters that the physical drive is mapped to.

[2017-02-08 14:11] jviotti commented on #1019
@WasabiFan Can you confirm that the two drive letters that Etcher report (F: and H:) are indeed associated with the drive and are accessible from My PC? It seems that in some cases, like when having some multi SD Card adapters, Etcher erroneously thinks the drive is mounted in all of them, therefore causing the "Invalid drive" error.

[2017-02-08 19:09] probonopd commented on #835
See [this](https://github.com/probonopd/AppImages/issues/127#issuecomment-278427441) for a potential solution, what do you think about it?

[2017-02-08 23:48] WasabiFan commented on #1019
Those two drive letters were reported by Windows as soon as I plugged in the drive (two notifications would simultaneously appear). Although I didn't confirm in Partition Manager, I am fairly sure that it's being detected properly. It's worth noting that I _am_ using a cheap multi-reader. There is a FAT partition as well as another partition in a format that Windows does not recognize (and rightfu

[2017-02-09 02:57] WasabiFan commented on #1019
Interesting... it looks like you may be right. There _is no H: drive_. On any disk.

![image](https://cloud.githubusercontent.com/assets/3310349/22767496/649c7f14-ee30-11e6-80e3-76c64c383047.png)

[2017-02-09 10:57] lurch commented on #1019
Hmmm, so maybe the fix is for `drivelist` (or the scripts that it contains) to be modified so that they only report 'real' drives (volumes) in the `mountpoints` array? (and/or drive-letters which are only currently mounted?)  And then `RemoveDrive.exe` wouldn't be given invalid drive letters in the first place.
Looks like you might have to get your hands dirty with more VBScript @jviotti ? :-(
(An

[2017-02-09 13:54] jviotti commented on #835
So we would include the dummy library in the package itself? I'm happy to give this a go today. I do wonder if we should approach the Electron guys, and see if we can fix this by not making Electron depend on it if its really not being used.

[2017-02-09 15:39] jviotti commented on #1019
At least we know what's going on. I have a USB hub in which I might be able to reproduce this, and if so, I can research how to modify the VBScript to catch this.

[2017-02-09 15:49] jviotti commented on #1019
I tried to reproduce this with an [Anker USB 3.0 Hub](https://www.amazon.com/Upgraded-Anker-SuperSpeed-Including-Charging/dp/B005NGQWL2/ref=sr_1_5?ie=UTF8&qid=1486655288&sr=8-5&keywords=anker+usb+hub) but it seems to behave correctly for me (no more than one drive letter is assigned).

I'll try flashing an ev3dev image and see if it makes any difference.

[2017-02-09 15:52] jviotti commented on #1019
Yeah, I'm able to reproduce with drives that have more than one partition!

[2017-02-09 16:42] jviotti commented on #1019
OK, I think I found a good way to filter these out. Turns out that on these kinds of partitions, the partition size is set to `null` in the `Win32_DiskPartition` class. I edited the drive detection VBScript to filter out mount points of partitions whose size is `null`: https://github.com/resin-io-modules/drivelist/blob/972c3e52c16a9bb209727e2a6880fa748ad9c7da/scripts/win32.bat

@WasabiFan Please l

[2017-02-09 17:33] lurch commented on #1019
That's totally bizarre, what difference (and how?) should just using a regular USB hub make to drive-detection??

[2017-02-09 17:42] jviotti commented on #1019
I know. I've seen so many bizarre Windows things in Etcher that I'm not really surprised anymore :P

[2017-02-09 18:27] probonopd commented on #835
Yes, the idea is to include the dummy library in the AppImage. This makes it load the dummy library and be happy. If we want to be super fancy, the dummy library could be loaded and check whether the real library is there, and call that in case it is...

[2017-02-09 19:11] WasabiFan commented on #1019
Cool, I'll test it out tomorrow!

I guess this is one of the artifacts of maintaining complete API compatibility for over two decades :laughing:

[2017-02-10 03:04] pizzapants opened #1090 "Question about imaging with .dmgs"
I have a question that might be stupid. I just found this tool and it is amazing for flashing from certain images. Im currently backing up my raspian installations by creating a disk image of it, but Etcher doesn't allow me to select a .dmg as my image. Should I be doing something differently? Why would the .dmg not be recognized?

Secondly, is there a way to essentially do the reverse of that pro

[2017-02-10 12:04] jhermsmeier commented on #1090
Hey @pizzapants, not a stupid question at all. The issue with `.dmg`s is that Apple's disk image format and some file systems used in it are proprietary, and (as far as I know) not publicly documented by Apple, even though it has been reverse engineered. To fully support it cross-platform, we'd have to implement it, which is fairly complex and I'm not sure we'd work on that soon, but @jviotti woul

[2017-02-10 12:09] lurch commented on #1090
Yup, see also https://github.com/resin-io/etcher/issues/836 for .dmg support.

Closing this issue, as both questions are already covered by other issues.

[2017-02-10 12:09] #1090 closed

[2017-02-10 14:22] pizzapants commented on #1090
@jhermsmeier Thanks for the reply. What is the best way currently to create a flat image of an existing install then, on osx?

[2017-02-10 14:42] jhermsmeier commented on #1090
There are several options, the most popular probably being [`dd`](https://en.wikipedia.org/wiki/Dd_(Unix_software)):
[code]
Where `/dev/rdisk3` would be the device path to the SD card you want to image (the device name (diskX) can be found in the "Device:" field in Disk Utility)

[2017-02-10 16:05] jviotti opened #1091 "Implement a generic tiles CSS module"
For example:

<img width="492" alt="screenshot 2017-02-10 12 04 46" src="https://cloud.githubusercontent.com/assets/2192773/22833664/242919c4-ef89-11e6-8e30-6e3ce2eaa766.png">

We can probably re-use most of this logic from the Resin UI:

<img width="1139" alt="screenshot 2017-02-10 12 05 20" src="https://cloud.githubusercontent.com/assets/2192773/22833686/3721f0aa-ef89-11e6-9728-81f773b6f77e.png"

[2017-02-10 16:09] jviotti opened #1092 "Implement a form generator re-usable module for configuration forms"
For example:

<img width="289" alt="screenshot 2017-02-10 12 07 59" src="https://cloud.githubusercontent.com/assets/2192773/22833797/94fc487e-ef89-11e6-80d7-35e9a9e4791f.png">

We should be able to pass a JSON object describing the inputs, groups, etc and a form should be automatically generated.

Part of this task includes designing how the JSON object would look like.

This task should be done i

[2017-02-10 16:12] jviotti opened #1093 "Support decompressing while streaming"
This affects the [`image-stream`](https://github.com/resin-io/etcher/tree/master/lib/image-stream) module. Currently, all the decompression handlers in that module rely on the file being present on the disk.

Some decompression methods don't lend themselves to streaming out of the box, therefore we should try to "mimic" this behaviour by probably streaming to the disk (at least partly) until we ca

[2017-02-10 16:15] jviotti opened #1094 "Get more information out of the writing process to display a fancier flash progress widget"
<img width="308" alt="screenshot 2017-02-10 12 06 20" src="https://cloud.githubusercontent.com/assets/2192773/22834059/583af89e-ef8a-11e6-9359-f0b157e5e6b3.png">

The colors of the dots represent:

- Flashed blocks
- Validated blocks
- Blocks which for validation failed
- Unwritten blocks
- Skipped blocks (in the case of bmaps)

Notice there is not a direct correlation between the dots and the blo

[2017-02-10 16:18] jviotti opened #1095 "Implement a new flashing progress widget"
Depends on https://github.com/resin-io/etcher/issues/1094

<img width="300" alt="screenshot 2017-02-10 12 30 23" src="https://cloud.githubusercontent.com/assets/2192773/22834781/b7c3db6c-ef8c-11e6-89d8-3f8a78c55568.png">

<img width="308" alt="screenshot 2017-02-10 12 06 20" src="https://cloud.githubusercontent.com/assets/2192773/22834185/b96ee3c8-ef8a-11e6-931b-814166386698.png">

The color of ea

[2017-02-10 16:20] jviotti commented on #1093
Maybe @jhermsmeier can help here, since this is very related to the writer, and requires hardcore streaming skills :) ?

[2017-02-10 16:29] jviotti opened #1096 "Display drives as a tile"
Depends on https://github.com/resin-io/etcher/issues/1091

<img width="535" alt="screenshot 2017-02-10 12 27 49" src="https://cloud.githubusercontent.com/assets/2192773/22834689/6248d37c-ef8c-11e6-8b06-251b9870b153.png">

[2017-02-11 00:10] pizzapants commented on #1090
oh, ive been using that command but just doing of=backup.dmg. Is it as simple as changing the file extension?

[2017-02-11 01:42] alexandrosm commented on #1094
also, "downloaded blocks"

--

*Alexandros Marinos*

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Fri, Feb 10, 2017 at 8:15 AM, Juan Cruz Viotti <notifications@github.com>
wrote:

[2017-02-11 04:37] skhameneh commented on #711
@ThomasKaiser so you didn't look into brotli, I take it?  I am well aware of zstandard tests and benchmarks. :)

[2017-02-11 12:37] lurch commented on #1090
I think if you've just been using `dd`, then what you have is _actually_ an `.img` file, not a `.dmg` file :-)

[2017-02-11 12:45] lurch commented on #711
@skhameneh The article you link to about brotli says "in particular small text documents", which makes me suspect that it wouldn't be that useful for Etcher, where we're dealing with very large binary files?

[2017-02-11 13:45] oshunluvr opened #1097 "Ability to pass filename to Etcher when launching"
Etcher version: 1.0.0-beta.18-linux-x64
Operating system and architecture: i7-6700K on KDEneon (Kubuntu) 16.04, Plasma 5 DE.
Not an error, but a requested change:

First: I apologize. I am not a coder so I have no idea how to formulate a PR. Rather than muck it up and waste everyone's time, I hope someone who is will read this and agree with my idea and put it forward.

It would immensely enhance

[2017-02-12 01:31] lurch commented on #1093
For compression methods not designed for streaming, I guess in the pathological case this might end up needing to buffer the _entire_ file on disk before decompressing? (which obviously kinda negates the benefit of streaming in the first place)

[2017-02-12 11:41] keunes opened #1098 "Confusing ENOMEM error when spawning the GNU/Linux drive detection script"
- **Etcher version:** 1.0.0-beta.18
- **Operating system and architecture:** Ubuntu 14.04

Running Etcher to get Ubuntu 16.04 on a 4GB USB key I get the following error:

[code]

[2017-02-12 11:59] alexandrosm commented on #1098
Thanks for filing this! The maintainers will respond as soon as possible.

[2017-02-12 18:50] wellsi commented on #750
I have the same issue on a fairly new Lenovo desktop with built in card reader. Lenovo K450e (Model 10181). I was not able to find a set of RemoveDrive options that work. Eject from the windows menu works just fine.

[2017-02-12 19:58] WasabiFan commented on #750
@jviotti doesn't `diskpart` have functionality to eject drives? Is there a reason you can't use that instead of `RemoveDrive.exe`?

[2017-02-12 22:16] jviotti commented on #1093
Its definitely a possibility for some formats, however its something we're willing to accept. The speed advantage of streaming while flashing is lost, but the benefit of downloading the image automatically from the internet is still preserved.

BTW, notice that we will only support streaming from our own catalog (we will not offer a custom URL input, at least for now).

[2017-02-12 22:18] jviotti opened #1099 "Allow inserting entropy to images"
We can do it by populating `/var/lib/systemd/random-seed` (at least in the case of systemd images): https://www.freedesktop.org/software/systemd/man/systemd-random-seed.service.html

From https://github.com/resin-io/reconfix/issues/8

[2017-02-12 22:22] jviotti commented on #1098
Hi @keunes,

Thanks for reporting. The error indicates you didn't have enough memory for a certain child process (the drive detection script in this case) to be forked.

How much RAM do you have in that machine, and monitor it while running Etcher? Can you check how much RAM Etcher is consuming?

We rely on the  http://electron.atom.io framework to build the UI, which is known to be quite memory i

[2017-02-12 22:24] jviotti commented on #750
I don't know, but looks like something worth investigating. I'll do so and report back soon.

[2017-02-12 22:27] lurch commented on #1098
...and of course the easiest suggestion (if you haven't tried it already) is to simply close any other programs that you also have running at the same time, so that Etcher isn't competing for memory with other applications running on your computer ;-)

[2017-02-12 22:35] jviotti commented on #750
I found this: http://blog.mundy.co/kb/28-windows/505-safely-remove-a-disk-using-the-command-line

However this removes the associated drive letter of the drive, meaning that you won't get Windows to recognize it back when you plug it again unless you manually assign a new drive letter to it (so its not really the same as the "Safely Remove" Windows feature).

I Googled for alternatives and found t

[2017-02-12 22:39] jviotti commented on #1097
Hi @oshunluvr ,

Thanks a lot for reporting! There was a patch at some point to introduce this feature (https://github.com/resin-io/etcher/pull/333), however it ended up getting abandoned by its submitter and it had some issues that needed to be fixed before.

I'm all for this improvement if we find a nice way to introduce it without disrupting the current behaviour. The main problem is that same

[2017-02-12 22:45] alexandrosm commented on #1093
streaming-while-writing will only be for catalog entries. There, we can
dictate that only suitable compression methods are used. The whole benefit
of the catalog is to have greater predictability in the inputs so we don't
have to jump through so many hoops.

--

*Alexandros Marinos*

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Sun, Feb 12, 2017 at 2:16 PM, Juan Cruz Viotti <notifica

[2017-02-12 22:46] alexandrosm commented on #1098
@jviotti IMO we should explore how much ram we use on top of electron
before closing. We haven't really measured so it's a bit premature to blame
electron.

--

*Alexandros Marinos*

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Sun, Feb 12, 2017 at 2:22 PM, Juan Cruz Viotti <notifications@github.com>
wrote:

[2017-02-12 22:56] jviotti commented on #1098
In my MacBook Pro, Etcher v1.0.0-beta.18 consumes about 138 MB after opening it (without doing anything). The default electron application, which does nothing, consumes about 110 MB here. We're looking at a ~25 MB overhead (at least in my system), which looks too small to try to optimize IMHO. I believe things will get way better with React though.

[2017-02-12 22:59] jviotti commented on #1098
I'm interested in hearing @keunes current specs. Are you already making use of swap? If you do have swap available, the system should have used that, right?

In the worst case, we can compile a list of minimal pre-requisites to run Etcher.

[2017-02-13 01:17] lurch commented on #1093
Yeah, that's what I was thinking / hoping :+1:

[2017-02-13 01:35] lurch commented on #750
The same [page](http://www.uwe-sieber.de/drivetools_e.html) which hosts the `RemoveDrive` utility, also hosts an `EjectMedia` utility which it describes as "Ejecting the media only is especially suitable for internal cardreaders".
Is that something you've experimented with yet @jviotti ? (although if that _does_ work, I obviously have no idea how you'd know when to use `RemoveDrive` and when to us

[2017-02-13 03:06] alexandrosm commented on #1098
@jviotti -- the question is what happens while Etcher is working. How high
does the ram usage go?

--

*Alexandros Marinos*

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Sun, Feb 12, 2017 at 2:59 PM, Juan Cruz Viotti <notifications@github.com>
wrote:

[2017-02-13 11:31] jviotti commented on #1098
It goes to about ~300 MB for an uncompressed image on my system (mostly due to the internal CLI fork), although that doesn't seem to be the issue here. The user is getting ENOMEM when scanning the drives, which means the writing process is not running (drive scanning stops during write/validation).

It does mean that even if the user optimized his computer to be able to run Etcher without flashing

[2017-02-13 11:46] jhermsmeier commented on #1098
@jviotti yeah, will do – we might also want to look at passing some v8 options when forking the process, to optimise the memory consumption a bit.

Regarding Ubuntu, I had it on several occasions that Ubuntu would kill processes, erroring with ENOMEM even though there was still plenty of RAM unused, which was caused by not having allocated any swap space.

[2017-02-13 12:51] Dark-Passenger commented on #1075
Seems a install specific issue. Reinstalled the same distro and same setup, all good.

[2017-02-13 12:51] #1075 closed

[2017-02-13 17:01] jviotti commented on #1019
@WasabiFan Did you get a change to test this out?

[2017-02-13 17:52] jviotti commented on #857
Apparently Sentry has support to generate and display error reports /cc @stefan-mihaila

[2017-02-13 19:06] WasabiFan commented on #1019
"tomorrow" for me means "next week" :wink: Let's see if I remember tonight... I'll try!

[2017-02-13 19:07] jhermsmeier commented on #1093
Are there any others than `.zip` we'd need to consider?

[2017-02-13 23:35] jviotti commented on #1093
Apart from zip:

- gzip is easy to stream, however we need to buffer a bit of it in order to be able to inspect the header, estimate the uncompressed size, and return an object with the uncompressed size + the image stream

- xz has the same problem as gzip (we need to read its uncompressed size on the fly before returning the stream to the user)

[2017-02-14 04:16] WasabiFan commented on #1019
Looks fixed to me!

![image](https://cloud.githubusercontent.com/assets/3310349/22915046/4ea4c8ea-f229-11e6-8d58-7027c3107f61.png)

[2017-02-14 14:37] jviotti commented on #1019
lol amazing! Thanks a lot for the testing @WasabiFan ! I'll get this into `master` soon.

[2017-02-14 14:49] jviotti opened #1100 "Improve analytics events"
For debugging and UX design purposes (e.g: to make effective design decisions based on real user behaviour). These are the events we have right now:

**For our users:** you can always disable error reporting and analytics from the settings page (its optional), but we should probably make that more obvious (something to discuss in another issue)

- Application start
- Checking for updates
- Notifyi

[2017-02-14 15:02] jviotti opened #1103 "Prevent the "Invalid archive image" event from reaching TrackJS"
This error happens when the user is trying to load an archive with more than one image inside (or no image at all). This is a user error rather than an Etcher error, so there is no reason to have it reach TrackJS and spam our trending errors analytics. This error should be only emitted to Mixpanel instead.

[2017-02-14 15:04] jviotti opened #1104 "Prevent scary JSON error at startup on an unstable connection"
If the user is on an unstable connection, the update notification request may timeout, resulting in the following scary error:

[code]

We should probably ignore HTTP timeouts on the update notification checking system.

BTW, this error is trending very high in TrackJS lately.

[2017-02-14 16:12] jviotti opened #1106 "Generate HTML JSDoc documentation of the whole codebase"
The purpose of this is to make it easier for the Etcher team and external contributors to understand and browse the codebase.

[2017-02-14 17:04] jhermsmeier commented on #1074
I've been talking nonsense here, I realised;

Looking at the above table, we can just as well hash every block with an MD5 or SHA or whatever floats our boat and keep it in memory for the block sizes we use. Don't know why my mind was going to those complicated places with this before.

[2017-02-15 14:15] jviotti commented on #1093
Some design ideas for this:

Currently, the image stream handlers & archive hooks are very tightly coupled with the concept of "files" (they both accept file names as arguments). Of course this makes little sense in the context of streaming, so I propose the following changes to achieve that:

- At [`lib/image-stream/index.js`](https://github.com/resin-io/etcher/blob/master/lib/image-stream/index.

[2017-02-15 23:22] lurch commented on #995
Pinging @mwebber again - any chance you could run the tests I mentioned in my last message?
We've just had a user in our gitter channel also report this problem, and he also gets `size: 8225280` from the drivelist `win32.bat`

[2017-02-15 23:30] lurch commented on #1093
If we're only going to be streaming images that we've added to our catalog, won't the online catalog have all the metadata we need, without having to try and infer any of it from HTTP headers?

[2017-02-16 12:46] OhhNooNoob opened #1108 "Error: ENOENT, node_modules\drivelist\scripts\win32.bat not found in C:\Program Files (x86)\Etcher\resources\app.asar"
Sorry, if this is the wrong way of going about reporting an issue, but i have been using Etcher a lot for about 3 - 4 months and never had a problem. But for the past couple of days, this error message has been
popping up, and i have to admit its beyond my skill level to try and figure out what the cause is.

Again, i apologies if i am going about this in the wrong way, but i use Etcher on a daily

[2017-02-16 13:16] jhermsmeier commented on #1108
Hey @OhhNooNoob, thanks for reporting this! And no, this is not the wrong way to go about reporting issues – quite the opposite :)

Has this only been occurring since you updated to v1.0.0-beta.18, or did it work with this version before?

[2017-02-16 14:06] OhhNooNoob commented on #1108
It has happened before, but at the time i thought it was either the external multicard reader i used (my desktop does not have integrated sd card reader,  unfortunately) or the the .img files had been corrupted during either download or extraction.

I recently got an Acer laptop with built-in card reader, and have not experienced any issues when running etcher on that. And, when i boot into Aprici

[2017-02-16 15:38] jviotti commented on #1093
We don't store the compressed image size anywhere on the metadata. That information is only available from the headers.

[2017-02-16 15:53] lurch commented on #1093
...is there any reason why we couldn't store the compressed image size in the metadata? Surely it makes sense to pre-process as much as possible?

[2017-02-16 17:32] jviotti commented on #1093
The size is automatically calculated by S3 for the header, which is a way more reliable source than property in our metadata (users can get it wrong for example, or forget to update it).

In terms of efficiency, reading the HTTP response headers that are already being returned to us is probably way faster.

[2017-02-16 17:37] lurch commented on #1093
Fair enough, always good to know that other options have at least been considered :-)

(and I was assuming that the metadata in the catalog would be updated/verified by a script, so it would be impossible for it to be incorrect)

[2017-02-16 17:38] jviotti commented on #1093
Yeah, I guess we could have a script or something to check it, but for this particular case, S3 sounds like the way to go.

[2017-02-16 17:50] #1019 closed

[2017-02-16 18:43] jhermsmeier opened #1109 "Prevent write failure due to block padding"
Since Etcher pads the last block to either 1 MB or 512 KB, and some devices and images are not divisible by such large block sizes (i.e. the Kingston mSata 60GB SMS200S3/60G with 60022480896 Bytes), padding the last block to such a large size will make the write fail on the last block.

This can be mitigated by detecting the physical block size (see [node-blockdevice#L131-L200](https://github.com/

[2017-02-17 01:09] lurch commented on #1109
I think the reason for this (which I've suspected for a while, but never got round to verifying), is that @jviotti once got confused between "512 bytes" and "512 kilobytes".
In a couple of different places he's mentioned that "Windows gives errors when you try to use unusual block sizes" and I _suspect_ that the smallest blocksize that Windows will allow you to use is 512 bytes, but given that _mo

[2017-02-17 14:02] jviotti commented on #1109
Yeah, that might have been the reason. I remember getting EINVAL on Windows (8 I think) for 256 and 128 "something" (not sure if it was bytes or kilobytes anymore :( )

[2017-02-17 15:55] mwebber commented on #995
My apologies for the lack of an earlier response; I've been on holidays. Latest results:
# Step 1
Format card using the official SDFormatter tool.
Windows now thinks the drive has 14.4 GB, as expected.
Ran `wmic diskdrive` and attached output as `step1.txt`
[step1.txt](https://github.com/resin-io/etcher/files/783347/step1.txt)
# Step 2
Run `h2testw` to completion , and it reported 17794 MByte

# S

[2017-02-17 17:58] lurch commented on #995
Thanks @mwebber !
So, looking at your output of `wmic diskdrive`, if I plug in the `TotalHeads`, `TotalCylinders`, `SectorsPerTrack` and `BytesPerSector` values for your `ST980411ASG` hard drive into the online calculator at http://www.csgnetwork.com/mediasizecalc.html then all the figures tally up, and I get the correct total size as 80023749120 bytes (i.e. 80GB).
But for some strange reason, `wm

[2017-02-17 18:53] jviotti commented on #995
Interesting information. I'll try to find the source of SD Formatter and/or Win32 Disk Imager and see if I can find where they get the information from.

[2017-02-17 19:07] lurch commented on #995
I just tried google-searching, and couldn't find any recommendations _other_ than the `Win32_DiskDrive` that you're already using. But from a quick test on my Windows 7 laptop, `wmic` indeed reports the size of my 200GB microSD card as 200787310080 bytes ( = 255 * 63 * 24411 * 255) whereas my Linux laptop reports the same CHS values, but reports the raw size as 200788672512 bytes (an extra 1.3MB).

[2017-02-17 19:24] lurch commented on #995
...I just dived into the Win32DiskImager [code](https://sourceforge.net/p/win32diskimager/code/ci/master/tree/src/disk.cpp#l213), and it seems they're using [IOCTL_DISK_GET_DRIVE_GEOMETRY_EX ](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365171(v=vs.85).aspx) and then dividing the returned `DiskSize` by `sectorsize`, so I wonder if that _might_ give the "true" (larger) sector count t

[2017-02-17 19:25] jhermsmeier commented on #995
Just a note on CHS values: CHS addressing has been deprecated, and shouldn't really be used anymore or relied upon, unless necessary (i.e. with older magnetic storage devices).

If I remember this correctly, these days devices often report CHS addresses & geometries as `[0xFE,0x3F,0xFF]` – which is `(1023, 254, 63)` – the maximum geometry / value and the equivalent of `-1` or `0xFFFFFFFF` in other

[2017-02-17 19:43] lurch commented on #995
Aha, also found more useful info here https://bugs.launchpad.net/win32-image-writer/+bug/932321

Yup, but from what I can tell, as noted above, it appears that [Win32_DiskDrive](https://msdn.microsoft.com/en-us/library/aa394132(v=vs.85).aspx) indeed still uses the CHS values (with a cylinder count greater than 1023) to calculate the raw size - gah! :-(

Hopefully `IOCTL_DISK_GET_DRIVE_GEOMETRY_EX`

[2017-02-17 20:29] jviotti commented on #995
We can apparently create a C# DLL and call it from VBScript: https://www.codeproject.com/articles/79314/how-to-call-a-net-dll-from-a-vbscript, though this starts to get ugly, I really want to avoid native dependencies on this module.

[2017-02-17 20:43] lurch commented on #995
Based on what I've discovered so far, I don't think that's possible, unfortunately :-(
At least with .Net we wouldn't need different versions for 32bit / 64bit. (Or would we, given that this is touching native platform APIs?)

[2017-02-17 21:16] jviotti commented on #750
Check this: https://www.codeproject.com/articles/259577/how-to-flush-a-storage-volumes-the-file-cache-lock. A good explanation of how `EjectMedia` works. It looks like we have enough technical information to go and implement our own unmounting program.

[2017-02-17 22:01] jviotti commented on #750
OK, I think I found something that works. @daturach @Tryum Can you try the [EjectMedia](http://www.uwe-sieber.de/files/ejectmedia.zip) tool calling it like this?

[code]

Obviously replacing `X:` with your corresponding drive letter.

I've tested this on the internal reader of a MacBook Pro running BootCamp, on an USB Hub, on

[2017-02-17 22:02] jviotti commented on #750
Sorry for the open/close. I've hit the wrong button :)

[2017-02-17 22:03] jviotti commented on #750
Not passing the `-f` option causes the internal reader to remain active on My PC even though its empty.

[2017-02-18 01:42] lurch commented on #995
Okay... my 200GB microSD card _finally_ finished getting read by Win32DiskImager on my Windows7 laptop, so now it's conclusion time... ;-)

`Win32DiskImager` produced a 200788672512 byte file, which exactly matches the size reported by `fdisk` on Linux. But if I then try using Etcher v1.0.0-beta.18 on my Windows 7 laptop to write that same image file back to the same microSD card that I've just re

[2017-02-18 12:13] OhhNooNoob commented on #1108
Sorry for the delayed response.
Here you go: https://www.dropbox.com/s/senwbowqrrbr91z/app.asar?dl=0
If there is anything else that could help, just say the word. I am glad to help, where i can.

[2017-02-18 14:55] ThomDietrich opened #1113 "CRC/MD5 checksum in filename or extra file"
I've recently switched over our image flashing recommendation to Etcher. Great piece of software.
I see a lot of issues regarding the creation of a checksum for the image. Could you please explain how this checksum is validated and how I can provide a checksum for an image file, so the user can be sure the file he/she's flashing is indeed identical to the one I've created and uploaded once. I'm su

[2017-02-19 21:05] jviotti commented on #1113
Hi @ThomDietrich ,

Thanks for reaching out. The way validation works is the following:

- Etcher will calculate a CRC32 checksum of the select image *while* its flashed to the drive
- Once the image has been flashed, Etcher will re-calculate a CRC32 of the drive
- If the CRC32 checksum calculate from the drive matches the one we initially calculated from the image, then we know the flash was succ

[2017-02-19 21:16] jviotti commented on #1108
Hi @OhhNooNoob ,

Thanks for the response! So the `asar` archive does include `win32.bat`, and it seems perfectly valid, so I wonder what might be causing this.

At what stage does this problem appear? Does it happen right after you open Etcher, or right when you click "Flash"?

Based on the stacktrace, it seems that the error is coming from the `drivelist` call coming from the CLI.

[2017-02-19 21:25] jviotti commented on #995
Hi @lurch ,

Amazing findings! Maybe a small C# program is the way to go here. Alternatively, we could make `drivelist` a native C++ Nodejs add-on, and use the C Win32 API to do it. This means we avoid shipping a compiled binary with the code, and that we avoid an extra child process.

Regarding your system drive, can you open a new issue as well, including the output of `lsblk -b -d "$device" --o

[2017-02-19 21:46] ThomDietrich commented on #1113
Hello @jviotti,
thank you for the detailed explanation. Matches my assumptions and that sounds good so far.

This is the one aspect I was curious about. If this is the current situation, I need to rephrase this issue as a **Feature Request**:

Would you consider comparing the initially calculated checksum with the one provided in the image filename or in a separate checksum file?

The easiest appr

[2017-02-19 21:55] jviotti opened #1115 "Attempt to detect incomplete images"
Some images might not be complete (e.g: the download stops halfway through). We could implement the following heuristics to determine if the image is complete or not:

- Inspect the partition table and ensure every position referenced there exists
- If the image contains a GPT, the GPT is also duplicated at the end of the file. Check that it exists at the end as well

 If we detect the image is in

[2017-02-19 21:55] jviotti commented on #1115
Maybe @jhermsmeier has other ideas as well?

[2017-02-19 22:00] alexandrosm commented on #1113
Hi Thomas! Awesome to see OpenHab recommending Etcher. The issue with a
short hash on the filename is this: How can Etcher know that these digits
are a hash? There are many images that append hex digits, some times to
indicate a build identifier, for instance. We're open to ideas if you have
any. As Juanchi indicated, we're working on a cloud index for Etcher that
will contain metadata to help ver

[2017-02-19 22:17] ThomDietrich commented on #1113
Hey Alexandros, true that! My images own a date and a git commit reference in their filename. One can't simply try to match these and show false negatives.

If you read again, you'll see that I suggested to show an additional indicator **if** the CRC was found in the filename, not the other way around. I think that would still be a valuable feedback for the end user and whatever way you look at it

[2017-02-19 22:55] alexandrosm commented on #1113
so you're saying, in the case the crc is found in the filename string,
Etcher should display something like "download confirmed" or sth like that,
but if not, it should just do what it does today, right? That actually
sounds like a great idea, since the probability of error is basically zero.
I'm totally up for that! That's a pretty low-overhead way of knowing you
got it right, and I guess if you

[2017-02-19 23:39] jviotti opened #1116 "Identity partition table type in analytics & error reporting"
I'd be great if we can know in advance if an image has a MBR or a GPT.

[2017-02-19 23:48] ThomDietrich commented on #1113
Bingo. Exactly how I imagined it.

We could still discuss if or if not a less visible "checksum not found" text/icon/tooltip element might be useful in place of the green tick. Would give the user the "wait, but there is" moment and promote the feature.

On a side note: From what I've seen in this and other issues, you are doing a great job managing this tracker ;) Thanks

[2017-02-20 10:14] daturach commented on #750
Ok @jviotti . I got the same results as you and I don't need to reboot anymore! Well done
[code]
Will EjectMedia work with any drives ? Internal or external?

Without the -f option, same as above:
[code]

[2017-02-20 13:21] jviotti commented on #750
Amazing news @daturach ! As far as my experimentations went, this new tool works fine for both internal and external drives. Weird that omitting `-f` yields the same result to you. I'll keep it just in case anyway.

I'll be sending a PR to make use of this tool very soon.

[2017-02-20 13:22] jviotti commented on #750
Just for reference, I double checked that we're allowed to re-distribute this:

From http://www.uwe-sieber.de/drivetools_e.html

Since we know how this tool works, we might re-implement it and extend it ourselves sometime in the future anyway.

@jhermsmeier ^

[2017-02-20 13:33] lurch commented on #750
So just to clarify, are you saying that in hindsight we should have just used `EjectMedia.exe` instead of `RemoveDrive.exe` all along? ;)

If you haven't already done so, it might be worth checking to see what EjectMedia does when you try to use it on a USB HDD as opposed to a USB flash drive?

[2017-02-20 13:51] jviotti commented on #750
Looks like you're right. EjectMedia works on USB drives but not on USB HDD (it does nothing in that case). I think we can try EjectMedia, and if the child process exits with code 0 but still drivelist detects that the drive is still mounted, then we fallback to RemoveDrive. What do you think?

[2017-02-20 14:10] jviotti commented on #1113
Thanks a lot @ThomDietrich, I like the suggestion. Let's re-open and re-word the title.

[2017-02-20 14:13] jviotti commented on #1113
We need two things to accomplish this task:

- Make the writer accept an external checksum for internal comparison purposes /cc @jhermsmeier

Notice that this checksum approach will *not* work on the case of images with bmaps.

- Attempt to find a checksum in the file name, and if so, pass it to the writer

***

BTW, @jhermsmeier has been doing work on the writer to make it accept and handle many

[2017-02-20 14:14] lurch commented on #750
Sounds reasonable, if sufficient testing shows that it works as expected? Would we need to insert some kind of delay between running EjectMedia and re-scanning the driveslist in case it takes a couple of seconds for the drive to unmount / disappear? (or is that guaranteed to have happened by the time EjectMedia exits?)

And that raises an interesting side-question - as well as returning the info f

[2017-02-20 14:16] jviotti commented on #750
This is an amazing idea. Updating the scripts to handle both a single drive or all drives might be tricky, but we can start by exposing a function to get information about a single one that simply runs the script and filters for the one you're interested in, and optimize later.

[2017-02-20 14:50] lurch commented on #1113
I think @ThomDietrich was actually suggesting exactly the opposite - rather than specifically looking for a checksum in the filename (e.g. by using a regex), instead get the checksum that the writer computed (luckily @jhermsmeier recently added functionality to get it to compute multiple checksum types at once), and then see **if** the calculated checksum was present in the filename (and display a

[2017-02-20 14:55] lurch commented on #1113
P.S. @ThomDietrich There _was_ a proposal to embed the image checksum as separate metadata within e.g. a zip file (see #707 ) but that's been dropped in favour of storing the metadata in the online catalog mentioned earlier.

[2017-02-20 15:56] lurch commented on #1108
@OhhNooNoob It's not clear from your earlier messages - does this happen every single time (i.e. is it 100% reproducible), or only "sometimes" ?

[2017-02-20 16:00] lurch commented on #1115
As mentioned elsewhere, until I see evidence to the contrary, I still suspect all images will be an exact multiple of 512 bytes... ;-)

[2017-02-20 16:01] jviotti commented on #1115
Fair enough, but if the image download stopped in the middle, then the changes are suddenly way higher.

[2017-02-20 16:05] jviotti commented on #1113
Oh, I see, my bad :) Let me rephrase the plan:

- Use the returned calculated checksum (if validation was enabled), and check if its present on the filename. If it is, present extra confirmation information

I'm still worried about the possibility of the writer to handle multiple checksum algorithms. Maybe we should always calculate one (probably CRC32, since its less error prone), and optionally

[2017-02-20 16:07] lurch commented on #1097
@oshunluvr And just to clarify, Etcher only writes to mass-storage-devices (USB flash drives, HDDs, SD Cards, etc.), I don't think it'll ever support burning CDROMs.

[2017-02-20 16:11] jviotti commented on #1097
I've been looking to try that out for a while now :P If the OS exposes CDROMs as block devices we can write to, then it *should* work (I have no idea about CDROMs really).

[2017-02-20 16:12] lurch commented on #1115
OTOH, I suspect _most_ people will download images as a compressed file (`.zip`, `.xz`, etc.) in which case I believe the archive won't even open if "the download stopped in the middle" ?

[2017-02-20 16:13] jviotti commented on #1115
Maybe. The module we found to unzip while streaming ignores the zip integrity warnings altogether in order to be able to work. Who knows what we will encounter :)

[2017-02-20 16:19] lurch commented on #1097
Nah, if it was that easy then there wouldn't be specific CD-burning programs.
https://en.wikipedia.org/wiki/CD-R#Writing_methods

[2017-02-20 16:21] lurch commented on #1115
I guess streaming images will mean that we won't be able to apply these heuristics until after we've already streamed the whole file.

[2017-02-20 16:21] ThomDietrich commented on #1113
Yes that's how I intended it. CRC32 for the image filename is probably the right choice (main reason being the short hash length), for the catalog metadata thing you would probably go with SHA256/512? Does it really matter? Who knows :)

[2017-02-20 16:24] lurch commented on #1113
Just out of curiosity: in what sense? (didn't @jhermsmeier add unit-tests?)

[2017-02-20 16:24] jviotti commented on #1097
Too bad! :(

[2017-02-20 16:38] jhermsmeier commented on #1097
@lurch @jviotti the physical writing methods should be abstracted away by the the kernel, running `dd if=some.iso of=/dev/cdrom1` might actually work (I can't try as I don't have spinning plastic media drives), but if it doesn't, this might be an approach: http://www.ccp14.ac.uk/ccp14admin/linux-server/iso_images_to_dvdram/

[2017-02-20 18:47] lurch commented on #1097
I suspect _very_ few people will be using DVDRAM discs ;-)

(although IIRC being able to use them as block devices was the big appeal of DVDRAM discs when they were introduced - but they were soon eclipsed (and made obsolete) by USB flash drives. Notes from history... ;-)  )

[2017-02-20 19:03] jhermsmeier commented on #1097
Hmm, yes. I wonder if the particular type of disk would actually matter, as long as it's written to in a sequential manner.

[2017-02-20 19:15] oshunluvr commented on #1097
It appears that my use of word "burn" or my follow-up regarding beginners and their trouble with ISOs might have mislead some into thinking I was expecting the ability to write to a CDROM/DVDROM. I apologize for this unfortunate choice of words.

My only desire was the functionality to pass a filename to Etcher. Thanks for the responses though. Nice to see this project is so active. I will immedia

[2017-02-21 13:49] OhhNooNoob commented on #1108
it happens about 2-3 seconds after i click flash. And, yes. every time i press flash, it gives this error.
I have installed Etcher as a portable app on a usb stick, and now it works every time. Which is actually more convenient, since i always have it with me now.

[2017-02-21 13:57] jviotti commented on #1108
Interesting. @OhhNooNoob were you using the installer version before? What is the partition format of your C drive? NTFS? Did you make any tweak to your system that you think could be causing this?

I wonder if this is somehow related to https://github.com/resin-io-modules/drivelist/pull/143, even though I got EPERM on that one.

[2017-02-21 13:59] lurch commented on #1108
@jviotti Is it possible that the child-writer-process has different access permissions to the main Etcher GUI, that means it isn't able to read the `app.asar` file?

[2017-02-21 14:02] jviotti commented on #1108
The child writer process is still an Electron process, just with the Chromium stuff disabled, but I'm completely sure it has `.asar` support. There must be something else going on there, but hard to debug without being able to reproduce locally and building a debug Electron release :/

[2017-02-21 14:03] kshitij10496 commented on #1005
I too am facing this problem while trying to use Etcher on Fedora 25. I hope this gets fixed soon.
@jviotti  Is there any work-through that might work for the time being ?
Apart from this, kudos on the excellent product.
I have been using it for the past 6 months.

[2017-02-21 14:07] lurch commented on #1108
I meant file-access permissions... (obviously the child writer must have `.asar` support, or everybody would be hitting this issue, not just @OhhNooNoob )
I was wondering if @OhhNooNoob might have some weird file / directory permissions set-up, and that's why he's the only person seeing this. Obviously with the portable version on a USB stick, that's world-readable by everyone, so no file-permissi

[2017-02-21 14:11] lurch commented on #1005
As mentioned in the first post, the current workaround is to install the libXScrnSaver package.

[2017-02-21 15:28] jviotti commented on #1108
Oh I see, sorry for the confusion. Yeah, that makes sense. Electron temporarily extracts the scripts to a certain place (let me try to find that), so maybe @OhhNooNoob can help us check the permissions of the problematic file when its extracted.

[2017-02-21 15:41] jviotti commented on #1108
OK, Electron seems to store temporary files in `C:\Users\<user>\AppData\Local\Temp\`.

@OhhNooNoob Can you re-install the installer version of Etcher, get the error, **and without closing Etcher** (e.g: leaving the error window open), go to `C:\Users\<user>\AppData\Local\Temp\`, find a file with an extension `.tmp.bat` (for example: `B39C.tmp.bat`), and report back the the permissions of the file?

[2017-02-21 15:48] jviotti commented on #1005
Yep, `libxscrnsaver` is an Electron dependency that you have to install. I don't have Fedora at hand right now, but from the top of my head, `sudo dnf install libscrnsaver` should do it :)

[2017-02-21 15:51] lurch commented on #1108
...or simply **run** the already-installed version of Etcher, if you didn't actually uninstall it yet ;-)

[2017-02-21 15:52] jviotti commented on #1005
See https://github.com/resin-io/etcher/issues/835 for reference, there is a way we can mock this on the AppImage, since its not used by Electron at all (apparently)

[2017-02-21 15:56] lurch commented on #1005
Ahh, thanks for finding that other issue @jviotti . Marking this as a duplicate of #835

[2017-02-21 22:22] jviotti opened #1124 "Improve ENOENT/ENXIO/EIO errors when unplugging drive while flashing/validating, and prevent them from reaching TrackJS"
### Unplugging while flashing

<img width="435" alt="screenshot 2017-02-21 17 02 36" src="https://cloud.githubusercontent.com/assets/2192773/23187690/25ebda6c-f862-11e6-801e-f596642b5d2a.png">

![unplug-while-flash](https://cloud.githubusercontent.com/assets/2192773/23187700/39e6b276-f862-11e6-890b-8f2a40421b47.PNG)

![unplug-during-flash](https://cloud.githubusercontent.com/assets/2192773/2319026

[2017-02-21 22:29] jviotti opened #1125 "Improve error when the child process starts, but the drive doesn't exist anymore"
Steps to reproduce:

- Select image
- Select drive
- Click "Flash"
- Unplug the drive right afterwards

You might want to add a timeout before the CLI logic kicks in to increase the chances of reproducing.

This is the error I get:

<img width="433" alt="screenshot 2017-02-21 17 12 14" src="https://cloud.githubusercontent.com/assets/2192773/23187963/47e5d518-f863-11e6-9735-012f679ad4db.png">

Task

[2017-02-21 22:33] jviotti opened #1126 "Fix errors when unplugging a drive exactly when the drive scanning script runs"
Steps to reproduce:

- Unplug a drive *exactly* when the drive scanning script is running

You might want to add `console.log` above https://github.com/resin-io/etcher/blob/master/lib/gui/modules/drive-scanner.js#L41 to know when exactly the script is running,  or decrease the drive scanning interval to increase the chances: https://github.com/resin-io/etcher/blob/master/lib/gui/modules/drive-scan

[2017-02-21 22:38] jviotti opened #1127 "Improve error when unplugging the drive while its getting erased on Windows"
Steps to reproduce:

- Select image
- Select drive
- Click "Flash"
- Unplug the drive while the button says "Starting..."

This is the error I get:

![unplug-while-initial-unmount](https://cloud.githubusercontent.com/assets/2192773/23188291/8d6cefbc-f864-11e6-81e5-036489950c88.PNG)

This seems to be the same as https://github.com/resin-io/etcher/issues/989

We should probably detect if the drive e

[2017-02-21 22:40] jviotti opened #1128 "Improve error when unplugging the drive while its getting unmounted"
This is the error I get:

<img width="446" alt="screenshot 2017-02-21 17 17 31" src="https://cloud.githubusercontent.com/assets/2192773/23188445/1681b530-f865-11e6-894b-e185f985dd09.png">

Tasks:

- [ ] Show a more user friendly error
- [ ] Don't send the error to TrackJS

[2017-02-21 23:32] jviotti commented on #1126
I confirm this issue only happens in OS X. I can't reproduce on GNU/Linux nor Windows.

[2017-02-22 15:25] lurch commented on #1126
This is probably highly timing-dependent, so maybe it's just harder to reproduce on other platforms?
All the drivelist platform-scripts effectively do:
[code]
so it's conceivable that _any_ of the scripts would fail if a drive disappears between `list_drives` and `get_more_info`.
In fact I just tried on Linux `lsblk -b -d "/dev/sdd" --output SIZE,RO,RM,MODEL` (I don't have any `/dev/sdd` currently

[2017-02-22 15:30] lurch commented on #1128
...and I guess if the drive (unexpectedly) disappears during the unmount process, then there's no guarantees that the write-buffers have been flushed and the drive actually contains the complete image :-/

[2017-02-22 19:47] jviotti commented on #1124
As a bonus point (very, very low priority), we could allow a "resume" option for the writer to continue from where it stopped if the drive is plugged back.

[2017-02-22 19:54] jviotti commented on #1126
Yeah, maybe. I've tried reproducing this for a good while without success, but you might be right in that it may be just harder to reproduce in other platforms.

[2017-02-22 19:55] jviotti commented on #1126
Sounds like the way to go!

[2017-02-23 00:29] lurch commented on #1126
I guess a easy way to 'force' that would be to just put a big `sleep 10` between the `list_drives` and `get_more_info` steps ;-)

[2017-02-23 00:57] lurch commented on #1124
As I mentioned in gitter, I don't think that's actually possible, since if the drive was removed unexpectedly AFAIK there's no guarantee about the order that the blocks actually got written by the FlashTranslationLayer? i.e. we might have "written" blocks 0-50 to the card, but perhaps only blocks 0-22 and 34-41 actually made it out of the write buffers and into the card's physical flash memory?

[2017-02-23 01:02] alexandrosm commented on #1124
In that case we can enter a fast-forward "matching" mode, where we read
what's on the card, and if it matches what we're about to write, we move on
to the next, until we find a disagreement, at which point we continue with
a regular write.

Having said all this, this sounds like a lot of work for a tiny
improvement, so we really should not do this unless we're scraping the
bottom of the barrel for

[2017-02-23 13:42] lurch commented on #210
Somemebody on our gitter channel recently suggested http://www.windowscentral.com/how-create-windows-10-installer-usb-drive-mac for Mac users.

[2017-02-23 15:15] jviotti commented on #210
That's not entirely accurate, given that in newest MacBook Pro models (like mine), there is no need to create an external bootable drive (you select the image and the Mac reboots straight into it), and therefore you don't even get the change to select an external drive.

See https://support.apple.com/kb/PH25913?locale=en_US

[2017-02-23 16:15] jhermsmeier commented on #210
The BootCamp assistant will add Apple software to the Windows image though.
Also, in the case of creating an installer medium; on macOS Sierra there's no option to flash it to SD cards anymore (only USB thumb drives still work afaik).

[2017-02-23 16:30] jviotti commented on #1126
That's a good idea. Turns out there were errors on Windows:

[code]

However the script exits with code 0, and since the output is invalid YAML, it gets only printed to DevTools instead of showing an error alert, which explains why I've not been seeing it.

The weird thing is that if I execute the script directly (from `cmd.exe`), then it exists with code 1, so `drivelist` should be catching this

[2017-02-23 16:38] jviotti commented on #1126
OK, so we were not passing the VBScript exit code to the caller from within the `.bat` wrapper. I'll send a PR to `drivelist` in a minute. This is what I get after my changes:

![capture](https://cloud.githubusercontent.com/assets/2192773/23268726/f604fc84-f9c4-11e6-8843-b2f91f03ca01.PNG)

[2017-02-23 16:45] jviotti commented on #1126
See https://github.com/resin-io-modules/drivelist/pull/146

[2017-02-23 18:48] jviotti commented on #1126
Adding a timeout, as @lurch suggested, revealed the following on Linux:

<img width="583" alt="screenshot 2017-02-23 14 47 36" src="https://cloud.githubusercontent.com/assets/2192773/23273902/2ae1dbfe-f9d7-11e6-96e8-2955217bd230.png">

[2017-02-24 19:12] #1035 closed

[2017-02-25 21:16] jviotti opened #1136 "Display the determined uncompressed size on the "too small for image" warning"
We should make sure the user understands why the drive is not large enough, which can be a bit confusing in the case of compressed images, where the compressed package is usually smaller than the drive.

[2017-02-26 20:35] n1rvana opened #1137 "Error: Command failed: /var/folders/0m/p1ln6f7n4015188cb260x4gm0000gn/T/.io.resin.etcher.wMwwzj"
**Etcher version:** v1.0.0-beta.19 - 2017-02-24

**Operating system and architecture:** MacOS Sierra MacbookPro Touchbar

**Reproduction**

- Load iso
- Burn iso
- When complete, hit mac brings up dialog about unreadable drive
- Hit eject button on that dialog

I get a dialog that says:

[code]

- **Do you see any meaningful error information on DevTools?**

DevTools won't  let me copy and paste ,

[2017-02-27 10:01] PrzemekSkw commented on #308
I could help with Polish tranlation

[2017-02-27 10:10] PrzemekSkw opened #1138 "Slow start"
- **Etcher version: Etcher-1.0.0-beta.19**
- **Operating system and architecture: Fedora 25 -Gnome, 64 bit**
- **Do you see any meaningful error information on DevTools? No**

Hi, it's possible to improve launch speed of Etcher because it's slowest app I have used. I have fast SSD drive and every app starting when I click on icon but for Etcher I must wait about 6 seconds :)

Regards,

[2017-02-27 10:11] emirotin opened #1139 "Error when closing the new version notification popup"
- **Etcher version:** beta.18
- **Operating system and architecture:** macOS 64bit
- **Do you see any meaningful error information on DevTools?**

![](https://monosnap.com/file/baxSJOuUJlrhK7w5tuqbeFENZzTQpS.png)

[2017-02-27 11:03] lurch commented on #1138
I believe this is a side-effect of AppImages and/or the executable-compression used by Etcher.
Changing either of those would make Etcher much harder to install (i.e. we wouldn't be able to use a single download to support all Linux distros), and make it take up lots more diskspace / be an even bigger download.
Unless @probonopd has some suggestions?

[2017-02-27 11:23] Shou commented on #1136
Something like this? Although maybe "image size too big" "actual image size too big" or some such?

![image](https://cloud.githubusercontent.com/assets/819413/23359519/7716ee38-fcde-11e6-8d6e-a8fa7cba9712.png)

[2017-02-27 11:23] lurch commented on #1136
Might also be worth having an option to display the exact byte-sizes of both the uncompressed image and the drive in that scenario too, since with the units currently being always-rounded to GB, a "7.5GB" image may not actually fit on a "7.5GB" drive, if the image is even a few kilobytes larger than the drive.

[2017-02-27 11:25] lurch commented on #1136
Hmm, looking at @Shou 's screenshot I guess we need to be careful to try and keep the "warning label" small - maybe @konmouz has some ideas?

[2017-02-27 11:27] Shou commented on #1136
@lurch yeah, good call. Perhaps "Image Size Bigger By x units" and we just display in the appropriate human readable unit?

[2017-02-27 13:45] lurch commented on #1139
I've just checked, and I see the same in Linux :-/

[2017-02-27 13:59] PrzemekSkw commented on #1138
OK, thanks for an answer. Maybe flatpak will be better option than appimage ?

[2017-02-27 14:06] jviotti commented on #355
@jhermsmeier Did an amazing work discovering some nodejs command line options to reduce the memory footprint in the CLI, which we should include by default: https://gist.github.com/jhermsmeier/c21270571f5ab2a0dd1262521fee647f

[code]

[2017-02-27 14:07] jviotti commented on #1136
Let's bring @konmouz here.

[2017-02-27 14:08] jviotti commented on #1139
At which stage is this happening? Right when you open the app?

[2017-02-27 14:13] lurch commented on #1139
Start version beta18 of the app (I'm kinda 'cheating' by running `/usr/share/etcher-electron/etcher` from the terminal, which skips setting `ETCHER_DISABLE_UPDATES` (I haven't `apt-get upgrade`d yet)), and the "NEW UPDATE AVAILABLE!" dialog appears. Click on the "X" or on "SKIP", and the error shown by Eugene then appears :-/
(Clicking 'OK' on that error dialog, and Etcher seems to continue to run

[2017-02-27 14:28] jhermsmeier commented on #355
These arguments would need to be passed in the `execArgv` option to [`child_process.fork()`](https://nodejs.org/api/child_process.html#child_process_child_process_fork_modulepath_args_options) to have an effect:

[code]

Note that forcing garbage collection (scavenge) with `--expose-gc` and calling `gc(true)` every n-th chunk during streaming to collect excess `Buffer`s appears to be more effectiv

[2017-02-27 14:45] jviotti commented on #1139
I can confirm this issue was fixed by https://github.com/resin-io/etcher/pull/1083!

[2017-02-27 14:45] #1139 closed

[2017-02-27 14:47] jviotti commented on #1138
Its probably a combination of:

- AppImages
- Electron (which is not particularly a "fast" framework)
- UPX

I'll prepare some custom builds so we can try to find the current bottleneck.

[2017-02-27 14:59] lurch commented on #1138
Coincidentally, I had a quick look at the flatpak website over the weekend, but unfortunately it doesn't support Ubuntu 14.04 (which I'm still running on my laptop), so I didn't look at it in much depth...

[2017-02-27 15:00] jviotti commented on #1137
Thanks a lot for reporting! Can you link me to the exact image you're flashing, so I can ensure I can reproduce?

[2017-02-27 15:34] lurch commented on #1137
Just a complete guess, but maybe the Mac OS itself is complaining about unreadable drive, and it's the Mac OS that is "ejecting" the unreadable drive, and so Etcher is erroring when it's trying to unmount an already-ejected drive? i.e. maybe this is a variation of #1128 ?

[2017-02-27 15:53] probonopd commented on #1138
UPX? Why UPX? You could try squashfs-based AppImages for comparison, too. And the unpacked AppImage (then: AppDir).

[2017-02-27 15:56] jviotti commented on #1138
UPX seems to slow down the binary considerably in some cases when we use the best possible compression. I'm uploading a set of builds as we talk, which should be enough to at least identity what to investigate further.

[2017-02-27 16:00] probonopd commented on #1138
AppImages are compressed without the need for UPX anyway...

[2017-02-27 16:19] mkeegan opened #1142 "Error: spawn UNKNOWN on Windows during burn"
Hi folks! Mathew over at [Kano](https://www.kano.me) here. We love Etcher, and now recommend it to all 100,000 of our customers!

We've noticed a few folks on Windows running into this rather cryptic error message. They're using v1.0.0-beta.19 trying to install Kano OS 3.8.0.

![image](https://cloud.githubusercontent.com/assets/1509271/23369001/cc56b292-fd07-11e6-8165-5258d318d0bb.png)

We're pret

[2017-02-27 16:29] PrzemekSkw commented on #1138
I try Kaku Music Player appimage and it start in 1 second :)

[2017-02-27 16:36] jviotti commented on #1142
Hi Mathew,

Thanks a lot for reaching out :) We're always chasing these obscure Windows issues, which seem to always happen sporadically.

Are you sure this is on v1.0.0-beta.19? The screenshot seems to be running v1.0.0-beta.17.

It'd be nice to know at which stage this error happened. E.g: did it happen while flashing? If so, where? during the flash stage? During the validation stage? At which p

[2017-02-27 16:37] jviotti commented on #1142
I'm leaving out the "component:" tag since we don't know where exactly the issue came from.

[2017-02-27 16:38] jviotti commented on #1142
Also: do you know if the user can actively reproduce this? If so, could you ask him to open DevTools (with Ctrl+Alt+I) and paste the whole thing here?

[2017-02-27 16:40] jviotti commented on #1138
Yeah, I doubt AppImages are the cause. I'm still uploading btw, I should probably move to a country with better internet :P

[2017-02-27 16:46] konmouz commented on #1136
2 options:
- we can have a 'insufficient space' label and on hover a tooltip with details (what @lurch suggested)
- avoid the label and have just an the alert/ danger icon with the explanation, all in red - no tooltip

BTW, @Shou why the above element has two labels? System and boot? It would be better to stick to 1 label per drive.

[2017-02-27 16:49] jviotti commented on #1136
I think I like the second option more, given that a tooltip might not be very discoverable unless the user however on the badge. In order to continue the brainstorm session: what about displaying the size that doesn't fit instead? E.g: You need 300 more MBs for the image.

[2017-02-27 16:53] konmouz commented on #884
@Shou @jviotti, we still have the issue with 'connect a drive' on the latest version. This looks like a CTA while it is just a message. Ideally, this message appears within the drives' modal window (screenprint from Zeplin). If this is tricky, 'connect a drive' should have an orange background instead of blue.

<img width="923" alt="screen shot 2017-02-27 at 16 51 41" src="https://cloud.githubuser

[2017-02-27 16:56] jviotti commented on #884
Yeah, let's make the current dialog open by default if there is no drive and keep improving from there. /cc @Shou

[2017-02-27 16:57] konmouz commented on #1136
@jviotti this sounds even better. So using the label font size and the alert icon, we can display such a message.  - Or, 300 MBs more are required for the selected image. -

[2017-02-27 17:09] lurch commented on #1136
It's actually System and Source ;-)  But yeah, it probably makes sense to only show one warning-label-per-drive, and I guess in this instance `Source` is 'more important' than `System` (a system drive *may* be writable, but a source drive (where the image is being read from) never will be).

With regards to the "too small" label message, what about "Drive is 300MB smaller than image" ?

[2017-02-27 17:35] konmouz commented on #1136
Sounds good to me, we should probably add the word 'selected' though, just to help user understand.

[2017-02-27 17:59] jviotti commented on #1138
@PrzemekSkw Here are the builds:

- AppImage without upx compression: https://drive.google.com/open?id=0B7tkbonGU-RyWEN1bGJqT0tWRDQ
- Raw build (without being packaged as an AppImage) without upx compression: https://drive.google.com/open?id=0B7tkbonGU-RyOGVTM1prX0wwVDA
- Raw build with upx compression: https://drive.google.com/open?id=0B7tkbonGU-RySlA2bS1jT0VKYlk

Let me know how that goes!

[2017-02-27 18:06] jviotti commented on #1137
Yeah, I'm thinking the same. In any case, we only release the file descriptor after validation, right before unmounting, so you would have to be really fast to confirm the dialog for that to happen. I still can't reproduce, it gets unmounted before the OS is able to realize the file system is unknown.

[2017-02-28 03:36] DavidPetit commented on #989
I am using windows 10 64bits and I also get the same errors systematically.
1) I format the card
2) I try to write an image using etcher
3) I get those errors. And then it corrupts the card.

After this, I format the card again and it can be used again. It happenrd to be with 2 new cards.

I finally used win32 disk imager and it worked great on both cards. I don't know what cause this bug but it i

[2017-02-28 09:08] alexandrosm commented on #1136
The "source" label doesn't sound like something I'd understand, nevermind
my mother. Shouldn't we find a better name for it?

--

*Alexandros Marinos*

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Mon, Feb 27, 2017 at 9:35 AM, Konstantinos Mouzakis <
notifications@github.com> wrote:

[2017-02-28 10:34] lurch commented on #1136
I guess `Source` was chosen, as it's the logical-opposite of `Destination`, but you're right that it doesn't make much sense when seen in isolation. Difficult to thing of a more meaningful label though... what about something like "Image source" or "Image location" instead of "Source Drive"?

[2017-02-28 11:30] mkeegan commented on #1142
Looks like copy/paste fart on the version number. Thanks for the extra info, I'll create a bulletin sheet for the customer service folks to get more info when these happen!

[2017-02-28 11:51] Shou commented on #884
So to clarify we open the drive selector modal on startup and display the message there if there is no drive?

[2017-02-28 13:03] lurch commented on #989
@DavidPetit It's great that you can reproduce this - would you be willing to assist us with further debugging please? :-)  AFAIK no-one on the Etcher team has been able to reproduce this yet.

Are these cards the same manufacturer / brand / capacity? Can you provide more details please? Do you have any other SD cards from a different manufacturer? (so we can see if this is specific to some SD card

[2017-02-28 13:22] lurch commented on #884
No, I think automatically opening the drive-selector modal on startup would confuse / scare people.

[2017-02-28 13:41] DavidPetit commented on #989
@lurch
I am glad to help. :)

I  reproduced the bug and took a screenshot with the feedback error popup after Etcher failed:
![error](https://cloud.githubusercontent.com/assets/10627204/23407075/1501b12c-fdfd-11e6-9771-0bb5a84f518d.png).

After this, if you click on the disk in the explorer it will say "Please insert a disk into xxx (E:)". And if I look at the properties from Windows it reports 0

[2017-02-28 13:53] DavidPetit commented on #989
As for the last question with diskpart.exe commands, I just tried and it says:
Diskpart has encoutered an error: Insufficient system ressources exist to complete the requested service. See the system event log for more information.

So I checked the event logs this is the corresponding error:
"Cannot zero sectors on disk \\?\PhysicalDrive2. Error code: 5AA@0101000F"

Also this same error happened

[2017-02-28 14:07] jviotti opened #1143 "Don't show System Drive and Source Drive badges at the same time"
From https://github.com/resin-io/etcher/issues/1136

![7716ee38-fcde-11e6-8d6e-a8fa7cba9712](https://cloud.githubusercontent.com/assets/2192773/23408208/a3c80a38-fd9d-11e6-81a3-a529eada156a.png)

Which one should we prefer though? @konmouz ?

EDIT: Originally from https://github.com/resin-io/etcher/issues/1136#issuecomment-282776898

[2017-02-28 14:09] jviotti opened #1144 "Improve "Source Drive" drive selector badge wording"
From https://github.com/resin-io/etcher/issues/1136

"Source Drive" is hard to understand. Maybe something more obvious like "Drive contains image"?

EDIT: Orignally from https://github.com/resin-io/etcher/issues/1136#issuecomment-282983302

[2017-02-28 14:09] jviotti commented on #1136
I created new issues to track some of the suggestions mentioned here:

- https://github.com/resin-io/etcher/issues/1143
- https://github.com/resin-io/etcher/issues/1144

[2017-02-28 14:09] jviotti commented on #1142
Sounds great, let us know how that goes!

[2017-02-28 14:11] jviotti commented on #884
OK, I'm really confused now :P As far as I understand, @konmouz proposal is to show the drive selector automatically once you select the image, even if there are no drives (e.g: we show an empty drive selector), thus completely covering the "Connect a drive" button, making it unnecessary.

[2017-02-28 14:14] jviotti commented on #989
Thanks a lot for the help @DavidPetit .

This is very valuable information. Do you mind triggering the issue again, while keeping an eye on the task manager, to see how much remaining RAM you have when the problem occurs?

What are the specs of your computer BTW? (architecture, RAM, etc)

[2017-02-28 14:15] jviotti commented on #989
Also, @DavidPetit does this happen as soon as you click flash, or once the flash completed?

[2017-02-28 14:30] konmouz commented on #884
Yes, my proposal is to automatically open the drives' modal except if there is only one drive, so it will be automatically selected. If you think this is too aggressive, instead of 'connect drive' we could have the actual button 'select drive' and user can open the modal manual. Again, if there is only one drive, it will be automatically selected.

[2017-02-28 14:45] WasabiFan commented on #1143
I think there's a case to be made for keeping both: Doing so reinforces the meaning of "source drive" (or whatever you rename it to) so that the user has a reasonable means of understanding that label.

[2017-02-28 14:45] lurch commented on #989
Ditto, thanks for the info @DavidPetit :+1:
With regards to why Win32DiskImager works and Etcher doesn't - I believe Win32Diskmager does a lower-level drive-locking than Etcher does, and hence it doesn't need to use the `diskpart` command (and as you've seen, Etcher actually tries to run diskpart 5 times before giving up and displaying an error message to the user).

@jviotti https://msdn.microsof

[2017-02-28 14:51] Shou commented on #884
Maybe we can do both for convenience here—orange to show that there's no drive but also allow the user to open the dialog or something to that effect? I think not having an indicator right there on the main page is a tiny step backwards. My idea is that it should get the least in the way of the user, because sometimes they may want to see whether there's a drive before clicking it, but also allow

[2017-02-28 14:54] lurch commented on #989
@DavidPetit A couple more ideas I've just thought of (if you're still willing to provide more help)... Do you have a spare USB drive (rather than SD card) that you're able to test Etcher with? Are you able to reboot your laptop into safe-mode, to see if Etcher / diskpart behaves any more reliably on your SD cards then?

[2017-02-28 15:21] jviotti commented on #1143
That's a good point as well. Up to @konmouz I guess.

[2017-02-28 15:42] konmouz commented on #1143
@jviotti I am not sure if I am the better to answer this, it is a bit technical. Is source drive a boot drive? We need to find a name that represents this drive and fits in one label.

[2017-02-28 15:46] jviotti commented on #1143
@konmouz The source drive is the drive that contains the image that you previously selected (not necessarily a system drive)

[2017-02-28 16:02] konmouz commented on #1143
@jviotti, ok I was completely out of topic. Now it makes sense why you might need two. So, since a 'source' drive is only one at a time, it should have a different color label (for instance orange). Also, may worth renaming to 'image source' and of course the drive would be greyed out. Maybe in that sense, we don't need the second label even if the drive is system or boot drive.

[2017-02-28 16:03] Shou commented on #884
Here we go.

[2017-02-28 16:06] jviotti commented on #1143
Perfect, I'll close this issue then!

[2017-02-28 16:22] lurch commented on #1143
Maybe (...) we don't need the second label even if the drive is system or boot drive.

I'm not quite sure I follow. Which "second label" are you suggesting we omit @konmouz ?

[2017-02-28 16:36] lurch commented on #884
Yeah, perhaps it's just me, but I think automatically opening any modal (except for the update-available notification) as soon as the application starts up, without any other user-interaction first, feels a bit aggressive. IMVHO. Especially as the current "flow" is to select an image first, not select a drive first.

.....

Ah! I now see that I missed the "once you select the image" part of @jviot

[2017-02-28 16:50] lurch commented on #1143
Re-opening this issue...

[2017-03-01 04:51] DavidPetit commented on #989
CPU: Intel Core i7 6700 HQ @ 2.60GHZ
RAM: 16GB of RAM DDR4 2133 MHz
GPU: GeForce GTX 960M
SSD: 128GB PCIe x4
HDD: 1TB SATA3
Windows 10 64 bits

Just did and I can confirm the consumption of RAM is not increasing and remains at a stable 50% during Etcher attempts to flash the card. At the same time, the CPU load is very low too (not more than 12-13% during the process).
The error in the event log i

[2017-03-01 10:36] lurch commented on #989
Curioser and curioser... I can't think what else to suggest :-/ Any ideas @jviotti ?
Given that Etcher is able to flash a regular USB drive okay, I _suspect_ that a USB-connected SD reader might also work (i.e. perhaps this is only a bug that affects internal SD slots on Windows computers?). But obviously that doesn't get us any closer to 'properly' fixing the problem in Etcher :(

I don't suppose

[2017-03-01 10:45] DavidPetit commented on #989
The card reader description: Alcor Micro PCIE Card Reader

I was able to update the driver but it does not help for Etcher. Still same bug.

[2017-03-01 10:51] lekkas commented on #1139
Just bumped into this after selecting `skip` in the update notification. Using `beta18`, I'll update to the latest version

[2017-03-01 11:20] lurch commented on #989
Hmmm, I wonder if this is some kind of inherent 'incompatibility' between PCI-connected card-readers on Windows, and the `diskpart` command? :-/  Perhaps this is just limited to Windows 10?
It would explain why this problem is 100% reproducible, but still rare, because I suspect most people are using USB-connected SD card-readers. Even on some laptops, the internal SD slot is still internally conn

[2017-03-01 12:29] lurch commented on #989
Update: I've now asked one of the other resin.io employees to see if they can reproduce this on their NUC (which has a PCI-connected SD card slot) running Windows 10, and he reports that Etcher and `diskpart` both work fine, so this clearly doesn't affect _all_ PCI-connected SD readers. Hmmm... :-S

[2017-03-01 12:36] DavidPetit commented on #989
I tried but unfortunately Ubuntu does not see the SD card... It can only see the USB devices and the SATA SSD and HDD. I probably need to install some driver but I already spent a lot of time just to make Ubuntu boot (it crashed multiple times before I could open a session) so I will just stop here.

Cheers for the rest!

[2017-03-01 12:41] lurch commented on #989
Hmm, so maybe this _is_ a problem just with particular non-standard PCI-connected internal SD readers? As you can tell I'm grasping at straws ;-)

Thanks again for all your help @DavidPetit it's been **incredibly** useful :smiley:

[2017-03-01 14:22] jviotti commented on #989
Amazing stuff going on here, but sadly I'm out of ideas as well. @lurch Do we know the laptop model? Maybe worth trying to get access a laptop with a Alcor Micro PCIE Card Reader?

[2017-03-01 14:26] jviotti commented on #1139
Yeah, this bug is trending massively high on TrackJS as you can imagine :P

[2017-03-01 14:27] #884 closed

[2017-03-01 14:53] lurch commented on #989
https://github.com/resin-io/etcher/issues/989#issuecomment-283041594 says `My laptop is Asus Zenbook Pro UX501VW` ;-)

[2017-03-01 15:11] jviotti commented on #989
Ah, great catch! The laptop is quite good looking btw :)

We should try to get access to one of those somehow. We can ask the resin.io team, however I feel that we should have some kind of process for this. We've been encountering tons of issues that can only be reproduced in certain computers, so I wonder if there is a "service" we can use to rent or get access for some time to certain computer b

[2017-03-01 15:55] lurch commented on #989
@lurch Any ideas?

Nope, no ideas. I _suspect_ that there's such a huge variety of different laptops, that any "rent this specific hardware for a short time-period" service would never recoup the hardware costs.

[2017-03-01 22:35] Ringworks commented on #989
Etcher has bricked my brand new 32gb SanDisk card.  After the image was verified and the drive was OK to remove I took at the card out and put it right back in to see how the image looked on the drive. My system no longer recognizes the SD Card.  The computer has a built in SD reader.  I tried the card on my laptop and in several lab systems with the same result.

The system is running Windows 10

[2017-03-01 22:38] keunes commented on #1098
Thanks for your reply, @jviotti. For some reason this whole thread didn't pop-up in my email (or at least, not the way I would notice)

I wouldn't change my whole desktop environment to 'just' be able to write an image with Etcher as there's other ways available. But now that I understand what's going wrong, I completely understand where it comes from: Etcher was running on quite an old computer (

[2017-03-01 22:41] jviotti commented on #989
@Ringworks Most frequently the issue is that Windows can't read the partitions of the image you flashed to the drive (e.g: Linux partitions). Are you sure that's not the case?

[2017-03-01 22:42] jviotti commented on #1098
If I'm back home I can check on that, if you're still interested.

Definitely. We have some human friendly translations here: https://github.com/resin-io/etcher/blob/master/lib/cli/errors.js#L27, but we're not addressing the ENOMEM one.

[2017-03-01 22:49] jviotti commented on #1098
@keunes Just to clarify: this error happens as soon as you open the app, right? Or does it happen when you click flash?

[2017-03-01 22:53] jviotti commented on #1104
This was fixed by https://github.com/resin-io/etcher/pull/1122

[2017-03-01 22:53] #1104 closed

[2017-03-01 22:53] keunes commented on #1098
Sorry, I should've been more clear. It does when I'm trying to flash, not immediately upon start.

[2017-03-01 23:14] jviotti commented on #1098
Right. The stack trace says `/tmp/.mount_ZZ2t46/usr/bin/resources/app.asar/lib/cli/etcher.js`, which means it's coming from the latest drive check from the writer process before starting the flash. Thanks a lot @keunes , this should be more than enough for us to clarify the error.

[2017-03-01 23:18] Ringworks commented on #989
Update: I have been in support for 25 years, so I was able to do a little ground work and got this resolved.  Thanks for the comment jviotti, that was very good thought but in this case it was not the issue.

I have to take a step back, I was able to test my system USB ports with another USB stick and it worked properly, it was detected and I could access it.  This got me thinking that that maybe

[2017-03-02 00:51] alexandrosm commented on #638
@jviotti did anyone end up doing anything with this? It really should be a fairly simple fix for 99% of cases

[2017-03-02 00:53] alexandrosm commented on #734
@jviotti how much work would be to either port the fix or use another library? This is our second oldest bug :)

[2017-03-02 00:53] alexandrosm commented on #638
(this is our oldest bug still open)

[2017-03-02 00:55] alexandrosm commented on #885
Hi, @BleedingEdgeTech did you ever manage to run the script? We're kind of stuck without your help.

[2017-03-02 08:28] Mo3tasm opened #1153 "Make images out of SD cards"
Great application, does what it says it does beautifully,

if it just can make Images from SD cards as backups or to image them to other SD cards (I know there's a suggestion to make Etcher copy an SD card to another on the flay, but sometimes you need to do it manually).

Thanks a lot guys.

[2017-03-02 08:31] Mo3tasm commented on #1153
Win32DiskImager does this the stupid way, by copying the whole SD card to hard disk, without worrying about how much data is actually being used and how much is free, but still, sometimes it's very useful.

[2017-03-02 11:59] lurch commented on #638
Is there _actually_ anyone using gzip to compress images over 4GB in size? I.e. does anyone have some example images that can be used for testing, or is this just an edge-case that we'll (probably) never hit in practice?

[2017-03-02 12:44] lurch commented on #1116
If we're gathering this info for analytics purposes, it might also be useful to collect which filesystems are being used in the images being written? (FAT16/FAT32/exFAT/ext3/ext4/btrfs/etc.)

I'll assign this to @jhermsmeier because he already has modules to do some of this, but I dunno what priority this task has.

[2017-03-02 16:16] jviotti commented on #1153
Hi @Mo3tasm ,

Thanks for reaching out. We're tracking this feature at https://github.com/resin-io/etcher/issues/266. Keep an eye there for updates!

[2017-03-02 16:16] #1153 closed

[2017-03-02 16:17] jviotti commented on #734
I started hacking on it at some point, got too deep into the rabbit hole, and ended up abandoning it. I'm happy to give it another go.

[2017-03-02 16:21] #1103 closed

[2017-03-02 16:33] alexandrosm commented on #734
I guess we could "won't fix" this. Not sure it's worth your time.

--

*Alexandros Marinos*

Founder & CEO, Resin.io

+1 206-637-5498

@alexandrosm

On Thu, Mar 2, 2017 at 8:18 AM, Juan Cruz Viotti <notifications@github.com>
wrote:

[2017-03-02 21:26] jviotti commented on #989
Hi @Ringworks ,

It looks like you're hitting this one: https://github.com/resin-io/etcher/issues/750. The eject Windows functionality seem to completely eject the internal reader, so you have to reboot to make Windows detect it. We hopefully have a way forward though :)

[2017-03-02 21:56] Ringworks commented on #989
The thing is I rebooted my box twice in the hopes that it was something along those lines.  It did not correct the issue, he SD card was not detected and at that point I even got another SD card and it was not recognized.  But we know what this issue is.  I would highly recommend disabling the Auto Eject in the software and just pop a message just a thought.

[2017-03-03 00:30] pierrebeaucamp opened #1155 "Publish etcher on chocolatey.org"
- **Etcher version:** 1.0.0-beta.19
- **Operating system and architecture:** Windows

Similar to Homebrew, [Chocolatey](https://chocolatey.org/) is the most used package manager for windows applications.

[2017-03-03 07:17] WasabiFan commented on #1155
Related to https://github.com/resin-io/etcher/issues/829

[2017-03-03 18:25] jviotti commented on #1155
Sounds interesting, and not hard to do, even though it'd be nice to get a hand from people used to creating Chocolatey packaged. Here's what's needed based on https://chocolatey.org/docs/create-packages. Please correct me if I'm missing something:

- Prepare the package. We distribute self-contained zips for Windows, so it looks like we can re-use those:

entirely and just include the runtime exec

[2017-03-03 18:26] jviotti commented on #989
Hm, that sucks. I wonder what caused this. We're looking forward to re-implement the unmounting mechanisms ourselves in order to be able to debug these kinds of issues further (we're blocked by a black box at the moment).

@jhermsmeier Did you have a chance to look at the unmounting repo?

[2017-03-03 19:06] jviotti commented on #638
I've seen some out there, although its definitely rare. It shouldn't be hard to fix the speed + percentage issues though. I'm happy if we treat gzip sizes with a grain of salt and eventually throw ENOSPC if there is no remaining space in the drive, like we do with bzip2.

[2017-03-03 19:08] jviotti commented on #638
@jhermsmeier Can you help me out with this one? Try flashing an gz image directly with the Etcher CLI. The flash progress quickly reaches 99%, and remains there for quite some time while there's more data coming through the stream chain. Maybe we're not calculating the size correctly somewhere?

[2017-03-03 19:17] jviotti commented on #638
Oh, the sizes seem to be fine. The issue is that for compressed images, the stream chain looks like this:

- Input compressed file
- Calculate progress based on compressed size
- Apply decompression transform
- Write to drive

It looks like the decompression is very fast compared to the drive writing, and therefore the progress reaches 99% much sooner.

I'm not sure what would be the solution here

[2017-03-03 19:23] jviotti commented on #638
Looks like pausing/resuming the readable stream should do it.

[2017-03-03 19:46] pierrebeaucamp commented on #1155
I never created a package on chocolatey before, but since I opened this bug, I'd be happy to look into this some more this weekend and open a PR.

[2017-03-03 19:51] Ringworks commented on #989
I was able to reproduce the same behavior.  The SD card is in fact fine, it's the SD reader that gets broken after the 'auto eject' (Windows users don't normally think in terms for mounting an unmounting disks/SD/cards/volumes).   Running the "Troubleshooter" identified an issue with the USB interface and automatically fixed the problem, that is a an easier fix then the route I took the first time

[2017-03-03 19:57] jviotti commented on #1155
Sounds good, let us know how it goes!

[2017-03-03 20:04] jviotti commented on #1109
@jhermsmeier Can you publish a new version of `etcher-image-write` with this fix, so I can upgrade and close this one?

[2017-03-03 20:07] jviotti commented on #734
I guess there's no reason to not keep it open until a clearer way forward appears.

[2017-03-03 21:27] jviotti commented on #989
Great finds @Ringworks. We'll hopefully fix this soon, so stay tuned!

[2017-03-03 22:07] jviotti commented on #638
I investigated the slow speed issue in more detail, and it looks to be resolved in `master`. There is a speed penalty (~2.0 MB/s) when decompressing large files though, but its not even closer to @imrehg initial report (~0.01MB/s).

The slow speed seem to happen on larger compressed images, and also depends on the compression level. I ran various experiments with images of several sizes (from ~1 G

[2017-03-03 22:09] jviotti commented on #638
@jhermsmeier Check http://linorg.usp.br/OpenELEC/OpenELEC-Generic.x86_64-6.0.3.img.gz for an image that showcases the 99% UX issue.

[2017-03-03 22:29] jviotti commented on #1108
I've been investigating the possible causes of this issue and narrowed it down to the following Electron function: https://github.com/electron/electron/blob/v1.4.4/atom/common/asar/archive.cc#L271

[code]

Basically, if that function returns `false`, then this particular error happens. I was considering trying an Electron upgrade to see if that would fix the issue, but there were no changes to Ele

[2017-03-03 22:50] lurch commented on #638
Isn't that expected?!?  I'd expect a streaming gzip decompressor to have a constant(ish) decompression speed, so of course a larger image will take longer to decompress.
Or are you saying that larger images decompress at a slower speed (bitrate) than smaller images, in which case that sounds like it might be a resource-leak somewhere?
I'm sure @jhermsmeier , our streaming expert, will have some be

[2017-03-03 22:58] jviotti commented on #638
I mean that decompression time and image size are not directly proportional. As the image gets larger (mainly if you compress with the highest compression level), decompression starts getting ridiculously slow.

I ran all my experiments with the `gzip` CLI tool, I didn't test on Etcher at all.

[2017-03-03 23:09] jviotti commented on #1054
I'm honestly clueless about this one. I sent a PR to `drivelist` to append the exit code to the error message: https://github.com/resin-io-modules/drivelist/pull/149. I'll try to increase logging in some other areas and then maybe we can try again with another custom build.

[2017-03-03 23:11] lurch commented on #638
Interesting - I'd expect the streaming block-based nature of gzip (based on top of zlib) would mean there'd be a direct proportion between decompression time and image size? Perhaps it depends on the dictionary size, or perhaps I'm completely misunderstanding this ;-)

[2017-03-03 23:51] jviotti commented on #638
Yeah, I don't know. Maybe it also depends on the image itself? I'm a compression noob, so I have no clue apart from what I saw on my experiments.

[2017-03-04 19:58] alexandrosm commented on #638
Beyond all this though, we should have a heuristic that basically says this:

- gzip compresses images within a certain range (e.g. 1.5x to 3x)
- if an image claims to be much out of that range (e.g. says it's 300mb but
the archive is 2.5gb) we should assume it's actually 4.3gb instead.
Essentially, we should add 2^32 bytes to the estimated size again and
again, until the compression ratio gets wi